<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/public/css/content-styles-figma.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
        <script src="/public/js/common/common_utility.js"></script>
        <script src="/public/js/common/<%= i18n.language %>/common_variables.js"></script>
        <script>
            $(document).ready(function() {
                var nation_options = [];

                $.ajax({
                    url: "../../nations/status",
                    method: "POST",
                    success: function (data) {
                        if (data === 'NO SESSION') {
                            alert("<%=t('message(session expires)')%>");
                            window.parent.location.href = "./login";
                        } else if (data === 'NO DATA') {
                            nation_options = [
                                { code:'CN', ename:'China', kname:'중국', country:'86' },
                                { code:'KR', ename:'Republic of Korea', kname:'대한민국', country:'82' },
                                { code:'JP', ename:'Japan', kname:'일본', country:'81' },
                                { code:'US', ename:'United States of America', kname:'미국', country:'1' },
                            ];
                            
                            createNationsSelection($('#nation'), nation_options, "<%=t('select')%>");
                        } else {
                            if (Array.isArray(data)) {
                                $.each(data, function(index, post) {
                                    nation_options.push({
                                        code:post.nationIso2, 
                                        ename:post.nationEname, 
                                        kname:post.nationKname, 
                                        country:post.nationCode
                                    });
                                });
                                
                                createNationsSelection($('#nation'), nation_options, "<%=t('select')%>");
                            }
                        }
                    },
                    error: function (xhr, status, error) {
                        alert("<%=t('message(request failed)')%>");
                    },
                });

                var search = function() {
                    var companyNo = $('#company_no').val();

                    // 행 데이터 출력
                    $.ajax({
                        url: "../../user/company/detail",
                        method: "POST",
                        data: {
                            companyNo: companyNo,
                        },
                        success: function (data) {
                            if (data === 'NO SESSION') {
                                alert("<%=t('message(session expires)')%>");
                                window.parent.location.href = "./login";
                                return;
                            } else if (data === 'NO DATA') {
                                alert("<%=t('message(no data)')%>");
                                return;
                            } else {
                                $('#cell_company_name').text(data.companyName);
                                $('#cell_owner_name').text(data.ownerName);
                                $('#cell_business_no').text(data.businessNo);
                                $('#cell_resident_no').text(data.residentNo);
                                $('#cell_telephone').text(getTelephone(data.nationCode, data.telephone));
                                $('#cell_domain_address').text(data.domainAddr);
                                $('#cell_business_place').text(data.businessPlace);

                                var option = nation_options.find(item => item.code === data.nation);
                                
                                $('#cell_nation').text(option?option.kname:'');
                            }
                        },
                        error: function (xhr, status, error) {
                            $('#company tbody').empty();

                            alert("<%=t('message(request failed)')%>");
                            window.history.back();
                        },
                    });
                };

                $('#modify').click(function() {
                    var companyNo = $('#company_no').val();

                    // 행 데이터 출력
                    $.ajax({
                        url: "../../user/company/detail",
                        method: "POST",
                        data: {
                            companyNo: companyNo,
                        },
                        success: function (data) {
                            if (data === 'NO SESSION') {
                                alert("<%=t('message(session expires)')%>");
                                window.parent.location.href = "./login";
                                return;
                            } else if (data === 'NO DATA') {
                                alert("<%=t('message(no data)')%>");
                                return;
                            } else {
                                $('#company_no').val(data.companyNo);
                                $('#company_name').val(data.companyName);
                                $('#owner_name').val(data.ownerName);
                                $('#business_no').val(data.businessNo);
                                $('#resident_no').val(data.residentNo);
                                $('#company_div').val(data.companyDiv);
                                $('#nation').val(data.nation);
                                $('#nation_code').val(data.nationCode);
                                $('#telephone').val(data.telephone);
                                $('#domain_addr').val(data.domainAddr);
                                $('#business_place').val(data.businessPlace);

                                $('.modal').show();
                            }
                        },
                        error: function (xhr, status, error) {
                            alert("<%=t('message(request failed)')%>");
                        },
                    });
                });

                // Modal Event And Function
                var ClearModal = function() {
                    $('#company_name').val('');
                    $('#owner_name').val('');
                    $('#business_no').val('');
                    $('#resident_no').val('');
                    $('#company_div').val('');
                    $('#nation').val('');
                    $('#nation_code').val('');
                    $('#telephone').val('');
                    $('#domain_addr').val('');
                    $('#business_place').val('');
                };

                $('#nation').change(function() {
                    var value = $(this).val();
                    if (value === '')
                        return;

                    var option = nation_options.find(option => option.code === value);
                    $('#nation_code').val(option.country);
                });

                $('#close').click(function() {
                    $('.modal').hide();
                });

                $('#save').click(function() {
                    if (confirm("<%=t('message(save data)')%>") == true)
                    {
                        var companyNo = $('#company_no').val();
                        var companyName = $('#company_name').val();
                        var ownerName = $('#owner_name').val();
                        var businessNo = $('#business_no').val();
                        var residentNo = $('#resident_no').val();
                        var companyDiv = $('#company_div').val();
                        var nation = $('#nation').val();
                        var nationCode = $('#nation_code').val();
                        var telephone = $('#telephone').val();
                        var domainAddr = $('#domain_addr').val();
                        var businessPlace = $('#business_place').val();

                        if ($('#company_name').val() === '') {
                            alert("<%=t('message(enter corporation)')%>");
                            $('#company_name').focus();
                            return;
                        }

                        if ($('#owner_name').val() === '') {
                            alert("<%=t('message(enter representative)')%>");
                            $('#owner_name').focus();
                            return;
                        }

                        if ($('#company_div').val() === '') {
                            alert("<%=t('message(select company classification)')%>");
                            $('#company_div').focus();
                            return;
                        }
                        
                        if ($('#nation').val() === '') {
                            alert("<%=t('message(select country)')%>");
                            $('#nation').focus();
                            return;
                        }
                        
                        if ($('#telephone').val() === '') {
                            alert("<%=t('message(enter phone number)')%>");
                            $('#telephone').focus();
                            return;
                        }

                        $.ajax({
                            url: "../../user/company/update",
                            method: "POST",
                            data: {
                                companyNo: companyNo,
                                companyName: companyName,
                                ownerName: ownerName,
                                businessNo: businessNo,
                                residentNo: residentNo,
                                companyDiv: companyDiv,
                                nation: nation,
                                telephone: telephone,
                                businessPlace: businessPlace,
                                domainAddr: domainAddr,
                            },
                            success: function (data) {
                                switch (data) {
                                    case "NO SESSION":
                                        alert("<%=t('message(session expires)')%>");
                                        window.parent.location.href = "./login";
                                        return;
                                    case "FAIL":
                                        alert("<%=t('message(save failed)')%>");
                                        return;
                                    case "SUCCESS":
                                        alert("<%=t('message(save success)')%>");
                                        break;
                                }

                                $('.modal').hide();
                                search();

                                ClearModal();
                            },
                            error: function (xhr, status, error) {
                                alert("<%=t('message(request failed)')%>");
                            },
                        });
                    }
                });

                $('#cancel').click(function() {
                    if (confirm("<%=t('message(input cancel)')%>") == true)
                    {
                        $('.modal').hide();
                        
                        ClearModal();
                    }
                });

                createVariablesSelection($('#company_div'), companyDivs, "<%=t('select')%>");
                search();
            });
        </script>
    </head>
    <body>
        <form class="company-detail-form">
            <div class="contents">
                <div  class="contents-item">
                    <div class="title"><%=t('company information')%></div>
                    <div class="top-right-button">
                        <div class="align-container">
                            <span><input type="button" id="modify" value="<%=t('modify')%>"/></span>
                        </div>
                    </div>
                    <table id="company" class="detail-table">
                        <thead class="detail-thead">
                            <tr>
                                <th width="160px" class="right-align"><%=t('corporation name')%></th>
                                <td width="300px" id="cell_company_name"></td>
                                <th width="160px" class="right-align"><%=t('representative name')%></th>
                                <td width="300px" id="cell_owner_name"></td>
                            </tr>
                            <tr>
                                <th class="right-align"><%=t('country')%></th>
                                <td id="cell_nation"></td>
                                <th class="right-align"><%=t('phone number')%></th>
                                <td id="cell_telephone"></td>
                            </tr>
                            <tr>
                                <th class="right-align"><%=t('business registration number')%></th>
                                <td id="cell_business_no"></td>
                                <th class="right-align"><%=t('corporate registration number')%></th>
                                <td id="cell_resident_no"></td>
                            </tr>
                            <tr>
                                <th class="right-align"><%=t('domain address')%></th>
                                <td colspan="3" id="cell_domain_address"></td>
                            </tr>
                            <tr>
                                <th class="right-align"><%=t('business place')%></th>
                                <td height="80px" colspan="3" id="cell_business_place"></td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </form>
        <div class="modal">
            <div class="modal-contents" style="width:720px">
                <div class="contents-container">
                    <span id="close" class="modal-close">&times;</span>
                    <div class="modal-title"><%=t('company management')%></div>
                    <div>
                        <table class="modal-table">
                            <thead class="modal-thead">
                                <tr>
                                    <th width="120px" class="right-align">*<%=t('corporation name')%></th>
                                    <td width="500px" class="left-align">
                                        <input type="hidden" id="company_no" value="<%=session.user.companyNo%>"/>
                                        <input type="hidden" id="company_div"/>
                                        <input type="text" id="company_name" style="width: 240px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('representative name')%></th>
                                    <td class="left-align">
                                        <input type="text" id="owner_name" style="width: 240px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align"><%=t('business registration number')%></th>
                                    <td class="left-align">
                                        <input type="text" id="business_no" style="width: 160px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align"><%=t('corporate registration number')%></th>
                                    <td class="left-align">
                                        <input type="text" id="resident_no" style="width: 160px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('country')%></th>
                                    <td class="left-align">
                                        <select id="nation"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('phone number')%></th>
                                    <td class="left-align">
                                        <div class="align-container">
                                            <span>+<input type="text" id="nation_code" style="width:30px" readonly/></span>
                                            <span><input type="text" id="telephone" style="width: 120px;"/></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('domain address')%></th>
                                    <td class="left-align">
                                        <input type="text" id="domain_addr" style="width:160px"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align"><%=t('business place')%></th>
                                    <td class="left-align">
                                        <input type="text" id="business_place" style="width:490px"/>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div></br>
                    <div class="bottom-button">
                        <div class="align-container">
                            <span><input type="button" id="save" value="<%=t('save')%>"/></span>
                            <span><input type="button" id="cancel" value="<%=t('cancel')%>"/></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
