<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/public/css/content-styles.css">
        <!--
        <link rel="stylesheet" media="screen and (max-width: 600px)" href="/public/css/styles-small.css">
        <link rel="stylesheet" media="screen and (min-width: 601px) and (max-width: 1024px)" href="/public/css/styles-medium.css">
        <link rel="stylesheet" media="screen and (min-width: 1025px) and (max-width: 2560px)" href="/public/css/styles-large.css">
        -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
        <script src="/public/js/common/common_utility.js"></script>
        <script src="/public/js/common/common_variables.js"></script>
        <script>
            $(document).ready(function() {                
                var search = function() {
                    clearPlan();

                    $.ajax({
                        url: "../admin/plan/status",
                        method: "POST",
                        data: {},
                        success: function (data) {

                            if (data === 'NO SESSION') {
                                alert("<%=t('message(session expires)')%>");
                                window.parent.location.href = "./login";
                            } else if (data === 'NO DATA') {
                                var newRow = '<tr><td colspan="8" class="left-align"><%=t("message(no data)")%></td></tr>';
                                $('.plan tbody').append(newRow);
                            } else {
                                if (Array.isArray(data)) {
                                    $.each(data, function(index, post) {
                                        var newRow = $('.plan tbody tr').first().clone().removeClass('hidden');
                                        
                                        $(newRow).find('.cell_plan_id').text(post.planId);
                                        $(newRow).find('.cell_plan_kname').text(post.planKname);
                                        $(newRow).find('.cell_plan_ename').text(post.planEname);
                                        $(newRow).find('.cell_flat_div').text(flatDivs[post.flatDiv]);
                                        $(newRow).find('.cell_odm_div').text(odmDivs[post.odmDiv]);
                                        $(newRow).find('.cell_apply_date').text(post.applyDate);
                                        $(newRow).find('.cell_finish_date').text(post.finishDate);
                                        $(newRow).find('.cell_active_yn').text(activeYn[post.activeYn]);
                                        $(newRow).find('.cell_remark').text(post.remark);

                                        $('.plan tbody').append(newRow);
                                    });
                                }
                            }
                        },
                        error: function (xhr, status, error) {
                            var newRow = '<tr><td colspan="8" class="left-align"><%=t("message(request failed)")%></td></tr>';
                            $('.plan tbody').append(newRow);
                        },
                    });
                };

                $('.add').click(function() {
                    clearModal();

                    var today = new Date();
                    $('.apply_date').val(getFormattedDate(today));
                    $('.finish_date').val(getFormattedDate(today));

                    $('.modal').show();
                });

                $('.modify').click(function() {
                    clearModal();

                    var selectedRow = $(".plan tr.selected");
                    if (selectedRow.length > 0) {
                        var planId = selectedRow.find('.cell_plan_id').text();
                        
                        // 행 데이터 출력
                        $.ajax({
                            url: "../admin/plan/detail",
                            method: "POST",
                            data: {
                                planId: planId,
                            },
                            success: function (data) {
                                if (data === 'NO SESSION') {
                                    alert("<%=t('message(session expires)')%>");
                                    window.parent.location.href = "./login";
                                } else if (data === 'NO DATA') {
                                    alert("<%=t('message(no data)')%>");
                                } else {
                                    $('.plan_id').val(data.planId);
                                    $('.plan_kname').val(data.planKname);
                                    $('.plan_ename').val(data.planEname);
                                    $('.flat_div').val(data.flatDiv);
                                    $('.odm_div').val(data.odmDiv);
                                    $('.apply_date').val(data.applyDate);
                                    $('.finish_date').val(data.finishDate);
                                    $('.active_yn').val(data.activeYn);
                                    $('.remark').val(data.remark);

                                    data.planAmounts.forEach(function(planAmount, index){
                                        var newRow = $('.plan_amount tbody tr').first().clone().removeClass('hidden');

                                        $(newRow).find('.mode').val('U');
                                        $(newRow).find('.plan_id').val(planAmount.planId);
                                        $(newRow).find('.plan_seq').val(planAmount.planSeq);
                                        $(newRow).find('.amount').val(formatCurrency(planAmount.amount));
                                        $(newRow).find('.bill_base_1').val(planAmount.billBase1);
                                        $(newRow).find('.surcharge').val(formatCurrency(planAmount.surcharge));
                                        $(newRow).find('.bill_base_2').val(planAmount.billBase2);
                                        $(newRow).find('.apply_date').val(planAmount.applyDate);
                                        $(newRow).find('.finish_date').val(planAmount.finishDate);
                                        $(newRow).find('.active_yn').val(planAmount.activeYn);

                                        $('.plan_amount tbody').append(newRow);
                                    });

                                    $('.modal').show();
                                }
                            },
                            error: function (xhr, status, error) {
                               alert("<%=t('message(request failed)')%>");
                            },
                        });
                    } else {
                        alert("<%=t('message(select row)')%>");
                    }
                });

                $('.detail').click(function() {
                    details();
                });

                $('.plan tbody').on('click', 'tr', function() {
                    $(this).addClass('selected').siblings().removeClass('selected');
                });

                $('.plan tbody').on('dblclick', 'tr', function() {
                    $(this).addClass('selected').siblings().removeClass('selected');

                    details();
                });

                var details = function() {
                    var selectedRow = $(".plan tr.selected");
                    if (selectedRow.length > 0) {
                        var planId = selectedRow.find('.cell_plan_id').text();
                        
                        window.location.href = "../view/plan/detail?planId=" + planId;
                    } else {
                        alert("<%=t('message(select row)')%>");
                    }
                }

                var clearPlan = function() {
                    const rows = document.querySelectorAll(".plan tbody tr:not(:first-child)");
                    rows.forEach(row => {
                        row.remove();
                    });
                }

                // Modal Event And Function
                var clearModal = function() {
                    $('.plan_id').val('');
                    $('.plan_kname').val('');
                    $('.plan_ename').val('');
                    $('.flat_div').val('');
                    $('.odm_div').val('');
                    $('.apply_date').val('');
                    $('.finish_date').val('');
                    $('.active_yn').val('');
                    $('.remark').val('');

                    const planAmountRows = document.querySelectorAll(".plan_amount tbody tr:not(:first-child)");
                    planAmountRows.forEach(row => {
                        row.remove();
                    });
                };

                var validationCheck = function() {
                    if ($('.plan_kname').val() === '') {
                        alert('요금제명(한글)을 입력하세요.');
                        return false;
                    }

                    if ($('.plan_ename').val() === '') {
                        alert('요금제명(영문)을 입력하세요.');
                        return false;
                    }

                    if ($('.flat_div').val() === '') {
                        alert('정액구분을 선택하세요.');
                        return false;
                    }

                    if ($('.odm_div').val() === '') {
                        alert('ODM구분을 선택하세요.');
                        return false;
                    }
                    if ($('.apply_date').val() === '') {
                        alert('적용일자를 입력하세요.');
                        return false;
                    }

                    if ($('.finish_date').val() === '') {
                        alert('종료일자를 입력하세요.');
                        return false;
                    }
                    
                    if ($('.active_yn').val() === '') {
                        alert('활성화 여부를 선택하세요.');
                        return false;
                    }

                    return true;
                }
                
                var childValidationCheck = function(row) {
                    if ($(row).find('.amount').val() === '') {
                        alert('서비스가격을 입력하세요.');
                        return false;
                    }

                    if ($(row).find('.bill_base_1').val() === '') {
                        alert('과금기준을 선택하세요.');
                        return false;
                    }

                    if ($(row).find('.apply_date').val() === '') {
                        alert('적용일자를 입력하세요.');
                        return false;
                    }

                    if ($(row).find('.finish_date').val() === '') {
                        alert('종료일자를 입력하세요.');
                        return false;
                    }
                    
                    if ($(row).find('.active_yn').val() === '') {
                        alert('활성화 여부를 선택하세요.');
                        return false;
                    }

                    return true;
                }

                /* 요금제 가격 관리 시작 */
                $('.plan_amount_add').click(function() {
                    if (!validationCheck()) {
                        return;
                    }
                    
                    var newRow = $('.plan_amount tbody tr').first().clone().removeClass('hidden');

                    $(newRow).find('.amount').val('0');
                    $(newRow).find('.surcharge').val('0');
                    $(newRow).find('.apply_date').val($('.apply_date').val());
                    $(newRow).find('.finish_date').val($('.finish_date').val());

                    $('.plan_amount tbody').append(newRow);
                });

                $('.plan_amount_delete').click(function() {
                    var selectedRow = $('.plan_amount tr.selected');
                    if ($(selectedRow).length > 0) {
                        var index = $(selectedRow).index();
                        var hidMode = $(selectedRow).find('.mode');

                        if (hidMode.val() == 'I') {
                            $('.plan_amount tr.selected').remove();
                        } else {
                            hidMode.val('D');
                            $('.plan_amount tr.selected').addClass('hidden');
                        }
                    }
                });

                let preventChange = false;
                $('.amount, .surcharge').focus(function() {
                    preventChange = true;
                    $(this).val(parseCurrency($(this).val()));
                    $(this).select();
                    preventChange = false;
                });

                $('.amount, .surcharge').blur(function() {
                    $(this).val(formatCurrency(parseCurrency($(this).val())));
                });

                $('.plan_amount tbody').on('click', 'tr', function() {
                    $(this).addClass('selected').siblings().removeClass('selected');
                });

                $('.plan_amount').on('focus', '.amount, .surcharge', function() {
                    preventChange = true;

                    $(this).val(parseCurrency($(this).val()));
                    $(this).select();

                    preventChange = false;
                });

                $('.plan_amount').on('blur', '.amount, .surcharge', function() {
                    $(this).val(formatCurrency(parseCurrency($(this).val())));
                });
                /* 요금제 가격 관리 끝 */

                $('.close').click(function() {
                    $('.modal').hide();
                });

                $('.save').click(function() {
                    if (confirm("<%=t('message(save data)')%>")) {
                        if (!validationCheck()) {
                            return;
                        }
                        
                        var planId = $('.plan_id').val();
                        var planKname = $('.plan_kname').val();
                        var planEname = $('.plan_ename').val();
                        var flatDiv = $('.flat_div').val();
                        var odmDiv = $('.odm_div').val();
                        var applyDate = $('.apply_date').val();
                        var finishDate = $('.finish_date').val();
                        var activeYn = $('.active_yn').val();
                        var remark = $('.remark').val();

                        var planAmounts = [];

                        if ($('.plan_amount tbody tr').length === 1) {
                            alert('요금제 가격을 입력하세요.');
                            return;
                        }

                        $('.plan_amount tbody tr').each(function(index, row) {
                            if (index === 0)
                                return;

                            if (!childValidationCheck(row)) {
                                return;
                            }

                            planAmounts.push({
                                mode: $(row).find('.mode').val(),
                                planId: $(row).find('.plan_id').val(),
                                planSeq: $(row).find('.plan_seq').val(),
                                amount: parseCurrency($(row).find('.amount').val()),
                                billBase1: $(row).find('.bill_base_1').val(),
                                surcharge: parseCurrency($(row).find('.surcharge').val()),
                                billBase2: $(row).find('.bill_base_2').val(),
                                applyDate: $(row).find('.apply_date').val(),
                                finishDate: $(row).find('.finish_date').val(),
                                activeYn: $(row).find('.active_yn').val(),
                            });
                        });

                        var url = "../admin/plan/insert";
                        if (planId === ''){
                            url = "../admin/plan/insert";
                        } else {
                            url = "../admin/plan/update";
                        }

                        $.ajax({
                            url: url,
                            method: "POST",
                            data: {
                                planId: planId,
                                planKname: planKname,
                                planEname: planEname,
                                flatDiv: flatDiv,
                                odmDiv: odmDiv,
                                applyDate: applyDate,
                                finishDate: finishDate,
                                activeYn: activeYn,
                                remark: remark,
                                planAmounts: planAmounts,
                            },
                            success: function (data) {
                                switch (data) {
                                    case "NO SESSION":
                                        alert("<%=t('message(session expires)')%>");
                                        window.parent.location.href = "./login";
                                        return;
                                    case "FAIL":
                                        alert("<%=t('message(save failed)')%>");
                                        return;
                                    case "SUCCESS":
                                        alert("<%=t('message(save success)')%>");
                                        break;
                                }

                                $('.modal').hide();
                                search();
                                
                                clearModal();
                            },
                            error: function (xhr, status, error) {
                                alert("<%=t('message(request failed)')%>");
                            },
                        });
                    }
                });

                $('.cancel').click(function() {
                    if (confirm("<%=t('message(input cancel)')%>") == true)
                    {
                        $('.modal').hide();
                        
                        clearModal();
                    }
                });
                
                createVariablesSelection($('.flat_div'), flatDivs);
                createVariablesSelection($('.odm_div'), odmDivs);
                createVariablesSelection($('.active_yn'), activeYn);
                createVariablesSelection($('.bill_base_1'), billBases);
                createVariablesSelection($('.bill_base_2'), billBases);

                search();
            });
        </script>
    </head>
    <body>
        <form class="plan-status-form">
            <div class="content">
                <div class="contents-container">
                    <div class="title">요금제 목록</div>
                    <div class="top-right-button">
                        <div class="align-container">
                            <p><input type="button" class="add" value="<%=t('regist')%>"/></p>
                            <p><input type="button" class="modify" value="<%=t('modify')%>"/></p>
                            <input type="button" class="detail" value="<%=t('details')%>"/>
                        </div>
                    </div>
                    <div>
                        <table class="plan">
                            <thead>
                                <tr>
                                    <th width="80px"><%=t('number')%></th>
                                    <th width="240px">요금제명(한글)</th>
                                    <th width="240px">요금제명(영문)</th>
                                    <th width="100px">정액구분</th>
                                    <th width="160px">ODM구분</th>
                                    <th width="110px"><%=t('date of application')%></th>
                                    <th width="110px">종료일자</th>
                                    <th width="100px">활성화여부</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="hidden">
                                    <td class="cell_plan_id" style="text-align: center;"></td>
                                    <td class="cell_plan_kname" style="text-align: left;"></td>
                                    <td class="cell_plan_ename" style="text-align: left;"></td>
                                    <td class="cell_flat_div" style="text-align: center;"></td>
                                    <td class="cell_odm_div" style="text-align: center;"></td>
                                    <td class="cell_apply_date" style="text-align: center;"></td>
                                    <td class="cell_finish_date" style="text-align: center;"></td>
                                    <td class="cell_active_yn" style="text-align: center;"></td>
                                </tr>
                                <tr>
                                    <td colspan="8"><%=t('message(search data)')%></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
        <div class="modal">
            <div class="modal-content" style="width:1060px">
                <div class="contents-container">
                    <span class="close">&times;</span>
                    <div class="title">요금제 관리</div>
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th width="140px" class="right-align">*요금제번호</th>
                                    <td width="920px" class="left-align" colspan="3">
                                        <input type="text" class="plan_id" style="width: 120px;" readonly/>
                                    </td>
                                </tr>
                                <tr>
                                    <th width="140px" class="right-align">*요금제명(한글)</th>
                                    <td width="380px" class="left-align">
                                        <input type="text" class="plan_kname" style="width: 350px;"/>
                                    </td>
                                    <th width="140px" class="right-align">*요금제명(영문)</th>
                                    <td width="380px" class="left-align">
                                        <input type="text" class="plan_ename" style="width: 350px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*정액구분</th>
                                    <td class="left-align">
                                        <select class="flat_div"></select>
                                    </td>
                                    <th class="right-align">*ODM구분</th>
                                    <td class="left-align">
                                        <select class="odm_div"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('date of application')%></th>
                                    <td class="left-align">
                                        <input type="date" class="apply_date" style="width: 120px;"/>
                                    </td>
                                    <th class="right-align">*종료일자</th>
                                    <td class="left-align">
                                        <input type="date" class="finish_date" style="width: 120px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*활성화여부</th>
                                    <td class="left-align" colspan="3">
                                        <select class="active_yn"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align"><%=t('remark')%></th>
                                    <td class="left-align" colspan="3">
                                        <textarea class="remark" style="width:900px; height:60px;"></textarea>
                                    </td>
                                </tr>
                            </thead>    
                        </table></br>
                    </div>
                    <div class="table-container" style="height:200px">
                        <!-- 요금제 가격 시작 -->
                        <div id="plan_amount_content">
                            <div class="title">요금제 가격</div>
                            <div class="top-right-button">
                                <div class="align-container">
                                    <p><input type="button" class="plan_amount_add" value="<%=t('regist')%>"/></p>
                                    <input type="button" class="plan_amount_delete" value="<%=t('delete')%>"/>
                                </div>
                            </div>
                            <table class="plan_amount">
                                <thead>
                                    <tr>
                                        <th width="100px"><%=t('sequential number')%></th>
                                        <th width="140px">서비스가격</th>
                                        <th width="170px">과금기준</th>
                                        <th width="140px">초과요금</th>
                                        <th width="170px">초과요금 과금기준</th>
                                        <th width="120px"><%=t('date of application')%></th>
                                        <th width="120px">종료일자</th>
                                        <th width="120px">활성화여부</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="hidden">
                                        <td>
                                            <input type="hidden" class="mode" value="I">
                                            <input type="text" class="plan_seq" style="width:86px;" readonly>
                                        </td>
                                        <td>
                                            <input type="text" class="amount" style="width:126px; text-align:right" value="0">
                                        </td>
                                        <td>
                                            <select class="bill_base_1" style="width:156px"></select>
                                        </td>
                                        <td>
                                            <input type="text" class="surcharge" style="width:126px; text-align:right" value="0">
                                        </td>
                                        <td>
                                            <select class="bill_base_2" style="width:156px"></select>
                                        </td>
                                        <td>
                                            <input type="date" class="apply_date" style="width:106px;">
                                        </td>
                                        <td>
                                            <input type="date" class="finish_date" style="width:106px;">
                                        </td>
                                        <td>
                                            <select class="active_yn" style="width:106px"></select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- 요금제 가격 끝 -->
                    </div></br>
                    <div class="bottom-button">
                        <div class="align-container">
                            <p><input type="button" class="save" value="<%=t('save')%>"/></p>
                            <input type="button" class="cancel" value="<%=t('cancel')%>"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
