<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/public/css/content-styles.css">
        <!--
        <link rel="stylesheet" media="screen and (max-width: 600px)" href="/public/css/styles-small.css">
        <link rel="stylesheet" media="screen and (min-width: 601px) and (max-width: 1024px)" href="/public/css/styles-medium.css">
        <link rel="stylesheet" media="screen and (min-width: 1025px) and (max-width: 2560px)" href="/public/css/styles-large.css">
        -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
        <script src="/public/js/common/common_utility.js"></script>
        <script src="/public/js/common/common_variables.js"></script>
        <script>
            $(document).ready(function() {
                var companys = [];
                var employees = [];
                var plans = [];

                $.ajax({
                    url: "../admin/company/codes",
                    method: "POST",
                    success: function (data) {
                        if (data === 'NO SESSION') {
                            alert("<%=t('message(session expires)')%>");
                            window.parent.location.href = "./login";
                        } else if (data === 'NO DATA') {
                            alert("<%=t('message(no data)')%>");
                        } else {
                            if (Array.isArray(data)) {
                                $.each(data, function(index, post) {
                                    companys.push({
                                        code:post.companyNo, 
                                        name:post.companyName, 
                                    });
                                });

                                createSelection($('.s_company_no'), companys);
                            }

                            var companyNo = '<%=companyNo%>';
                            if (companyNo != '') {
                                $('.s_company_no').val(companyNo);

                                search();
                            }
                        }
                    },
                    error: function (xhr, status, error) {
                        alert("<%=t('message(request failed)')%>");
                    },
                });

                $.ajax({
                    url: "../admin/contract/planStatus",
                    method: "POST",
                    success: function (data) {
                        if (data === 'NO SESSION') {
                            alert("<%=t('message(session expires)')%>");
                            window.parent.location.href = "./login";
                        } else if (data === 'NO DATA') {
                            alert("<%=t('message(no data)')%>");
                        } else {
                            if (Array.isArray(data)) {
                                $.each(data, function(index, post) {
                                    plans.push({
                                        code:post.planId, 
                                        name:post.planKname, 
                                    });
                                });

                                createSelection($('.plan_id'), plans);
                            }
                        }
                    },
                    error: function (xhr, status, error) {
                        alert("<%=t('message(request failed)')%>");
                    },
                });
                

                $.ajax({
                    url: "../admin/employee/status",
                    method: "POST",
                    success: function (data) {
                        if (data === 'NO SESSION') {
                            alert("<%=t('message(session expires)')%>");
                            window.parent.location.href = "./login";
                        } else if (data === 'NO DATA') {
                            alert("<%=t('message(no data)')%>");
                        } else {
                            if (Array.isArray(data)) {
                                $.each(data, function(index, post) {
                                    employees.push({
                                        code:post.empNo, 
                                        name:post.empName, 
                                    });
                                });

                                createSelection($('.contract_manager'), employees);
                            }
                        }
                    },
                    error: function (xhr, status, error) {
                        alert("<%=t('message(request failed)')%>");
                    },
                });
                
                var search = function() {
                    clearContract();

                    var companyNo = $('.s_company_no option:selected').val();
                    if (companyNo === '')
                    {
                        alert("<%=t('message(select client company)')%>");
                        return;
                    }

                    $.ajax({
                        url: "../admin/contract/status",
                        method: "POST",
                        data: {
                            companyNo: companyNo,
                        },
                        success: function (data) {

                            if (data === 'NO SESSION') {
                                alert("<%=t('message(session expires)')%>");
                                window.parent.location.href = "./login";
                            } else if (data === 'NO DATA') {
                                var newRow = '<tr><td colspan="9" class="left-align"><%=t("message(no data)")%></td></tr>';
                                $('.contract tbody').append(newRow);
                            } else {
                                if (Array.isArray(data)) {
                                    $.each(data, function(index, post) {
                                        var newRow = $('.contract tbody tr').first().clone().removeClass('hidden');

                                        $(newRow).find('.cell_contract_no').text(post.contractNo);
                                        $(newRow).find('.cell_contract_name').text(post.contractName);
                                        $(newRow).find('.cell_contract_date').text(post.contractDate);
                                        $(newRow).find('.cell_contractor').text(post.contractor);
                                        $(newRow).find('.cell_start_date').text(post.startDate);
                                        $(newRow).find('.cell_end_date').text(post.endDate);
                                        $(newRow).find('.cell_contract_status').text(contractStatus[post.contractStatus]);
                                        $(newRow).find('.cell_monetary_unit').text(post.monetaryUnit);
                                        $(newRow).find('.cell_exchange_rate').text(post.exchangeRate);
                                        $(newRow).find('.cell_actual_amount').text(formatCurrency(post.actualAmount));

                                        $('.contract tbody').append(newRow);
                                    });
                                }
                            }
                        },
                        error: function (xhr, status, error) {
                            var newRow = '<tr><td colspan="9" class="left-align"><%=t("message(request failed)")%></td></tr>';
                            $('.contract tbody').append(newRow);
                        },
                    });
                };
                
                $('.s_company_no').change(function() {
                    search();
                });

                $('.add').click(function() {
                    clearModal();

                    var companyNo = $('.s_company_no option:selected').val();
                    var companyName = $('.s_company_no option:selected').text();

                    if (companyNo === '')
                    {
                        alert("<%=t('message(select client company)')%>");
                        return;
                    }

                    var today = new Date();
                    $('.company_no').val(companyNo);
                    $('.company_name').val(companyName);
                    $('.contract_date').val(getFormattedDate(today));

                    $('.modal').show();
                });

                $('.modify').click(function() {
                    clearModal();

                    var companyNo = $('.s_company_no').val();
                    if (companyNo === '')
                    {
                        alert("<%=t('message(select client company)')%>");
                        return;
                    }

                    var selectedRow = $(".contract tr.selected");
                    if (selectedRow.length > 0) {
                        var contractNo = selectedRow.find('.cell_contract_no').text();

                        // 행 데이터 출력
                        $.ajax({
                            url: "../admin/contract/detail",
                            method: "POST",
                            data: {
                                companyNo: companyNo,
                                contractNo: contractNo,
                            },
                            success: function (data) {
                                if (data === 'NO SESSION') {
                                    alert("<%=t('message(session expires)')%>");
                                    window.parent.location.href = "./login";
                                } else if (data === 'NO DATA') {
                                    alert("<%=t('message(no data)')%>");
                                } else {
                                    $('.company_no').val(data.companyNo);
                                    $('.company_name').val(data.companyName);
                                    $('.contract_no').val(data.contractNo);
                                    $('.contract_name').val(data.contractName);
                                    $('.contract_date').val(data.contractDate);
                                    $('.contractor').val(data.contractor);
                                    $('.contract_service').val(data.contractService);
                                    $('.contract_div').val(data.contractDiv);
                                    $('.contract_period').val(data.contractPeriod);
                                    $('.start_date').val(data.startDate);
                                    $('.end_date').val(data.endDate);
                                    $('.monetary_unit').val(data.monetaryUnit);
                                    $('.exchange_rate').val(data.exchangeRate);
                                    $('.amount').val(formatCurrency(data.amount));
                                    $('.discounted_amount').val(formatCurrency(data.discountedAmount));
                                    $('.actual_amount').val(formatCurrency(data.actualAmount));
                                    $('.remark').val(data.remark);
                                    $('.contract_manager').val(data.contractManager);

                                    switch(data.contractDiv)
                                    {
                                        case "L":
                                            expandedChildren($('#license_content'));

                                            data.licenses.forEach(function(license, index){
                                                var newRow = $('.license tbody tr').first().clone().removeClass('hidden');

                                                $(newRow).find('.mode').val('U');
                                                $(newRow).find('.license_no').val(license.licenseNo);
                                                $(newRow).find('.license_type').val(license.licenseType);
                                                $(newRow).find('.license_div').val(license.licenseDiv);
                                                $(newRow).find('.license_start_date').val(license.startDate);
                                                $(newRow).find('.license_end_date').val(license.endDate);
                                                $(newRow).find('.license_count').val(license.licenseCount);
                                                $(newRow).find('.unit_price').val(formatCurrency(license.unitPrice));
                                                $(newRow).find('.license_amount').val(formatCurrency(license.amount));
                                                $(newRow).find('.license_discounted_amount').val(formatCurrency(license.discountedAmount));
                                                $(newRow).find('.license_actual_amount').val(formatCurrency(license.actualAmount));

                                                $('.license tbody').append(newRow);
                                            });
                                            break;
                                        case "D":
                                            expandedChildren($('#odm_content'));
                                            
                                            data.odmContracts.forEach(function(odmContract, index){
                                                var newRow = $('.odm_contract tbody tr').first().clone().removeClass('hidden');

                                                $(newRow).find('.mode').val('U');
                                                $(newRow).find('.odm_seq').val(odmContract.odmSeq);
                                                $(newRow).find('.odm_cont_div').val(odmContract.odmContDiv);
                                                $(newRow).find('.pay_currency').val(odmContract.payCurrency);
                                                $(newRow).find('.pay_unit').val(odmContract.payUnit);
                                                $(newRow).find('.pay_term_mo').val(odmContract.payTermMo);
                                                $(newRow).find('.unit_price').val(odmContract.unitPrice);
                                                $(newRow).find('.apply_date').val(odmContract.applyDate);

                                                $('.odm_contract tbody').append(newRow);
                                            });
                                            break;
                                        case "A":
                                            break;
                                        case "S":
                                            expandedChildren($('#ships_content'));
                                            
                                            data.shipsContracts.forEach(function(shipsContract, index){
                                                var newRow = $('.ships_contract tbody tr').first().clone().removeClass('hidden');

                                                $(newRow).find('.mode').val('U');
                                                $(newRow).find('.ship_seq').val(shipsContract.shipSeq);
                                                $(newRow).find('.ship_name').val(shipsContract.shipName);
                                                $(newRow).find('.imo_no').val(shipsContract.imoNo);
                                                $(newRow).find('.equip_lent').val(shipsContract.equipLent);
                                                $(newRow).find('.apply_start_date').val(shipsContract.applyStartDate);
                                                $(newRow).find('.apply_finish_date').val(shipsContract.applyFinishDate);
                                                $(newRow).find('.plan_seq').val(shipsContract.planSeq);
                                                $(newRow).find('.plan_id').val(shipsContract.planId);

                                                $('.ships_contract tbody').append(newRow);
                                            });
                                            break;
                                    }
                                    $('.modal').show();
                                }
                            },
                            error: function (xhr, status, error) {
                               alert("<%=t('message(request failed)')%>");
                            },
                        });
                    } else {
                        alert("<%=t('message(select row)')%>");
                    }
                });

                $('.detail').click(function() {
                    var companyNo = $('.s_company_no').val();
                    if (companyNo === '')
                    {
                        alert("<%=t('message(select client company)')%>");
                        return;
                    }

                    var selectedRow = $(".contract tr.selected");
                    if (selectedRow.length > 0) {
                        var contractNo = selectedRow.find('.cell_contract_no').text();
                        
                        window.location.href = "../view/contract/detail?companyNo=" + companyNo + "&contractNo=" + contractNo;
                    } else {
                        alert("<%=t('message(select row)')%>");
                    }
                });

                $('.contract tbody').on('click', 'tr', function() {
                    $(this).addClass('selected').siblings().removeClass('selected');
                });

                $('.contract_div').change(function() {
                    var contractDiv = $(this).val();

                    switch (contractDiv) {
                        case 'L':
                            expandedChildren($('#license_content'));
                            break;
                        case 'D':
                            expandedChildren($('#odm_content'));
                            break;
                        case 'A':
                            break;
                        case 'S':
                            expandedChildren($('#ships_content'));
                            break;
                    }
                });

                var clearContract = function() {
                    const rows = document.querySelectorAll(".contract tbody tr:not(:first-child)");
                    rows.forEach(row => {
                        row.remove();
                    });
                }

                // Modal Event And Function
                var clearModal = function() {
                    $('.company_no').val('');
                    $('.company_name').val('');
                    $('.contract_no').val('');
                    $('.contract_name').val('');
                    $('.contract_date').val('');
                    $('.contractor').val('');
                    $('.contract_service').val('');
                    $('.contract_div').val('');
                    $('.contract_period').val('');
                    $('.start_date').val('');
                    $('.end_date').val('');
                    $('.monetary_unit').val('');
                    $('.exchange_rate').val('0');
                    $('.contract_manager').val('');
                    $('.remark').val('');

                    const licenseRows = document.querySelectorAll(".license tbody tr:not(:first-child)");
                    licenseRows.forEach(row => {
                        row.remove();
                    });
                    
                    const odmContractRows = document.querySelectorAll(".odm_contract tbody tr:not(:first-child)");
                    odmContractRows.forEach(row => {
                        row.remove();
                    });
                    
                    const shipsContractRows = document.querySelectorAll(".ships_contract tbody tr:not(:first-child)");
                    shipsContractRows.forEach(row => {
                        row.remove();
                    });
                };

                var validationCheck = function() {
                    if ($('.contract_name').val() === '') {
                        alert("<%=t('message(enter contract name)')%>");
                        return false;
                    }

                    if ($('.contract_date').val() === '') {
                        alert("<%=t('message(enter contract date)')%>");
                        return false;
                    }

                    if ($('.contractor').val() === '') {
                        alert("<%=t('message(enter contractor)')%>");
                        return false;
                    }

                    if ($('.contract_service').val() === '') {
                        alert("<%=t('message(enter contract service)')%>");
                        return false;
                    }

                    if ($('.contract_div').val() === '') {
                        alert("<%=t('message(enter contract classification)')%>");
                        return false;
                    }
                    
                    if ($('.contract_period').val() === '') {
                        alert("<%=t('message(select contract period)')%>");
                        return false;
                    }
                    
                    if ($('.start_date').val() === '' || $('.end_date').val() === '') {
                        alert("<%=t('message(enter contract period)')%>");
                        return false;
                    }
                    
                    if ($('.monetary_unit').val() === '') {
                        alert("<%=t('message(select monetray unit)')%>");
                        return false;
                    }
                    
                    if ($('.exchange_rate').val() === '') {
                        alert("<%=t('message(enter exchange rate)')%>");
                        return false;
                    }
                    
                    if ($('.contract_manager').val() === '') {
                        alert("<%=t('message(enter person in charge of a contract)')%>");
                        return false;
                    }

                    return true;
                }

                /* 라이센스 관리 시작 */
                $('.license_add').click(function() {
                    if (!validationCheck()) {
                        return;
                    }
                    
                    var newRow = $('.license tbody tr').first().clone().removeClass('hidden');

                    $(newRow).find('.license_start_date').val($('.start_date').val());
                    $(newRow).find('.license_end_date').val($('.end_date').val());

                    $('.license tbody').append(newRow);
                });

                $('.license_delete').click(function() {
                    var selectedRow = $('.license tr.selected');
                    if ($(selectedRow).length > 0) {
                        var index = $(selectedRow).index();
                        var hidMode = $(selectedRow).find('.mode');

                        if (hidMode.val() == 'I') {
                            $('.license tr.selected').remove();
                        } else {
                            hidMode.val('D');
                            $('.license tr.selected').addClass('hidden');
                        }
                    }
                });

                $('.contract_period').change(function() {

                    var contractDate = new Date($('.contract_date').val());
                    var contractPeriod = $(this).val();
                    var date = new Date();
                    switch (contractPeriod) {
                        case 'M1':
                            date = addMonth(contractDate, 1);
                            break;
                        case 'M3':
                            date = addMonth(contractDate, 3);
                            break;
                        case 'M6':
                            date = addMonth(contractDate, 6);
                            break;
                        case 'Y1':
                            date = addYear(contractDate, 1);
                            break;
                        case 'Y2':
                            date = addYear(contractDate, 2);
                            break;
                        case 'Y3':
                            date = addYear(contractDate, 3);
                            break;
                    } 
                    
                    $('.start_date').val($('.contract_date').val());
                    $('.end_date').val(date);
                });

                let preventChange = false;
                $('.amount, .discounted_amount, .exchange_rate').focus(function() {
                    preventChange = true;
                    $(this).val(parseCurrency($(this).val()));
                    $(this).select();
                    preventChange = false;
                });

                $('.amount, .discounted_amount, .exchange_rate').blur(function() {
                    $(this).val(formatCurrency(parseCurrency($(this).val())));
                });

                $('.amount, .discounted_amount').change(function() {
                    if (preventChange) {
                        return;
                    }

                    preventChange = true;
                    if ($(this).val() === '') {
                        $(this).val('0');
                    }

                    var amount = parseCurrency($('.amount').val());
                    var discounted_amount = parseCurrency($('.discounted_amount').val());

                    $('.amount').val(formatCurrency(amount));
                    $('.discounted_amount').val(formatCurrency(discounted_amount));
                    $('.actual_amount').val(formatCurrency(amount - discounted_amount));
                    
                    preventChange = false;
                })

                $('.license tbody').on('click', 'tr', function() {
                    $(this).addClass('selected').siblings().removeClass('selected');
                });

                $('.license').on('focus', '.unit_price, .license_discounted_amount', function() {
                    preventChange = true;

                    $(this).val(parseCurrency($(this).val()));
                    $(this).select();

                    preventChange = false;
                });

                $('.license').on('blur', '.unit_price, .license_discounted_amount', function() {
                    $(this).val(formatCurrency(parseCurrency($(this).val())));
                });

                $('.license').on('change', '.license_count, .unit_price, .license_discounted_amount', function() {
                    if (preventChange) {
                        return;
                    }

                    preventChange = true;

                    var row = $(this).closest('tr');

                    var licenseCount = parseCurrency($(row).find('.license_count').val());
                    var unitPrice = parseCurrency($(row).find('.unit_price').val());
                    var discountedlicense_amount = parseCurrency($(row).find('.license_discounted_amount').val());

                    var license_amount = licenseCount * unitPrice;
                    var actuallicense_amount = license_amount - discountedlicense_amount;

                    $(row).find('.unit_price').val(formatCurrency(unitPrice));
                    $(row).find('.license_discounted_amount').val(formatCurrency(discountedlicense_amount));
                    $(row).find('.license_amount').val(formatCurrency(license_amount));
                    $(row).find('.license_actual_amount').val(formatCurrency(actuallicense_amount));
                    
                    preventChange = false;
                });
                /* 라이센스 관리 끝 */

                /* ODM 계약관리 시작 */
                 $('.odm_contract_add').click(function() {
                    if (!validationCheck()) {
                        return;
                    }
                    
                    var newRow = $('.odm_contract tbody tr').first().clone().removeClass('hidden');

                    $(newRow).find('.pay_currency').val($('.monetary_unit').val());
                    $(newRow).find('.apply_date').val($('.start_date').val());

                    $('.odm_contract tbody').append(newRow);
                });

                $('.odm_contract_delete').click(function() {
                    var selectedRow = $('.odm_contract tr.selected');

                    if ($(selectedRow).length > 0) {
                        var index = $(selectedRow).index();
                        var hidMode = $(selectedRow).find('.mode');

                        if (hidMode.val() == 'I') {
                            $('.odm_contract tr.selected').remove();
                        } else {
                            hidMode.val('D');
                            $('.odm_contract tr.selected').addClass('hidden');
                        }
                    }
                });
                
                $('.odm_contract tbody').on('click', 'tr', function() {
                    $(this).addClass('selected').siblings().removeClass('selected');
                });

                $('.odm_contract').on('focus', '.unit_price', function() {
                    preventChange = true;

                    $(this).val(parseCurrency($(this).val()));
                    $(this).select();

                    preventChange = false;
                });

                $('.odm_contract').on('blur', '.unit_price', function() {
                    $(this).val(formatCurrency(parseCurrency($(this).val())));
                });
                /* ODM 계약관리 끝 */

                /* 선박별 계약관리 시작 */
                $('.ships_contract_add').click(function() {
                    if (!validationCheck()) {
                        return;
                    }
                    
                    var newRow = $('.ships_contract tbody tr').first().clone().removeClass('hidden');


                    $('.ships_contract tbody').append(newRow);
                });

                $('.ships_contract_delete').click(function() {
                    var selectedRow = $('.ships_contract tr.selected');

                    if ($(selectedRow).length > 0) {
                        var index = $(selectedRow).index();
                        var hidMode = $(selectedRow).find('.mode');

                        if (hidMode.val() == 'I') {
                            $('.ships_contract tr.selected').remove();
                        } else {
                            hidMode.val('D');
                            $('.ships_contract tr.selected').addClass('hidden');
                        }
                    }
                });
                /* 선박별 계약관리 끝 */

                $('.close').click(function() {
                    $('.modal').hide();
                });

                $('.save').click(function() {
                    if (confirm("<%=t('message(save data)')%>")) {
                        if (!validationCheck()) {
                            return;
                        }

                        var companyNo = $('.company_no').val();
                        var contractNo = $('.contract_no').val();
                        var contractName = $('.contract_name').val();
                        var contractDate = $('.contract_date').val();
                        var contractor = $('.contractor').val();
                        var contractService = $('.contract_service').val();
                        var contractDiv = $('.contract_div').val();
                        var contractPeriod = $('.contract_period').val();
                        var startDate = $('.start_date').val();
                        var endDate = $('.end_date').val();
                        var monetaryUnit = $('.monetary_unit').val();
                        var exchangeRate = $('.exchange_rate').val();
                        var contractManager = $('.contract_manager').val();
                        var remark = $('.remark').val();

                        var licenses = [];
                        var odmContracts = [];
                        var shipsContracts = [];

                        switch (contractDiv)
                        {
                            case "L":
                                if ($('.license tbody tr').length === 1) {
                                    alert("<%=t('message(enter license)')%>");
                                    return;
                                }

                                $('.license tbody tr').each(function(index, row) {
                                    if (index === 0)
                                        return;

                                    licenses.push({
                                        mode: $(row).find('.mode').val(),
                                        licenseNo: $(row).find('.license_no').val(),
                                        licenseType: $(row).find('.license_type').val(),
                                        licenseDiv: $(row).find('.license_div').val(),
                                        startDate: $(row).find('.license_start_date').val(),
                                        endDate: $(row).find('.license_end_date').val(),
                                        licenseCount: $(row).find('.license_count').val(),
                                        unitPrice: parseCurrency($(row).find('.unit_price').val()),
                                        amount: parseCurrency($(row).find('.license_amount').val()),
                                        discountedAmount: parseCurrency($(row).find('.license_discounted_amount').val()),
                                        actualAmount: parseCurrency($(row).find('.license_actual_amount').val()),
                                    });
                                });
                                break;
                            case "D":
                                if ($('.odm_contract tbody tr').length === 1) {
                                    alert("<%=t('message(enter odm contract)')%>");
                                    return;
                                }

                                $('.odm_contract tbody tr').each(function(index, row) {
                                    if (index === 0)
                                        return;

                                    odmContracts.push({
                                        mode: $(row).find('.mode').val(),
                                        odmSeq: $(row).find('.odm_seq').val(),
                                        odmContDiv: $(row).find('.odm_cont_div').val(),
                                        payCurrency: $(row).find('.pay_currency').val(),
                                        payUnit: $(row).find('.pay_unit').val(),
                                        payTermMo: $(row).find('.pay_term_mo').val(),
                                        unitPrice: parseCurrency($(row).find('.unit_price').val()),
                                        applyDate: $(row).find('.apply_date').val(),
                                    });
                                });
                                break;
                            case "A":
                                break;
                            case "S":
                                if ($('.ships_contract tbody tr').length === 1) {
                                    alert("<%=t('message(enter vessel contract)')%>");
                                    return;
                                }

                                $('.ships_contract tbody tr').each(function(index, row) {
                                    if (index === 0)
                                        return;

                                    shipsContracts.push({
                                        mode: $(row).find('.mode').val(),
                                        shipSeq: $(row).find('.ship_seq').val(),
                                        shipName: $(row).find('.ship_name').val(),
                                        imoNo: $(row).find('.imo_no').val(),
                                        equipLent: $(row).find('.equip_lent').val(),
                                        applyStartDate: $(row).find('.apply_start_date').val(),
                                        applyFinishDate: $(row).find('.apply_finish_date').val(),
                                        planSeq: $(row).find('.plan_seq').val(),
                                        planId: $(row).find('.plan_id').val(),
                                    });
                                });
                                break;
                        }

                        var url = "../admin/contract/insert";
                        if (contractNo === ''){
                            url = "../admin/contract/insert";
                        } else {
                            url = "../admin/contract/update";
                        }

                        $.ajax({
                            url: url,
                            method: "POST",
                            data: {
                                companyNo: companyNo,
                                contractNo: contractNo,
                                contractName: contractName,
                                contractDate: contractDate,
                                contractor: contractor,
                                contractService: contractService,
                                contractDiv: contractDiv,
                                contractPeriod: contractPeriod,
                                startDate: startDate,
                                endDate: endDate,
                                monetaryUnit: monetaryUnit,
                                exchangeRate: exchangeRate,
                                remark: remark,
                                contractManager: contractManager,
                                licenses: licenses,
                                odmContracts: odmContracts,
                                shipsContracts: shipsContracts,
                            },
                            success: function (data) {
                                switch (data) {
                                    case "NO SESSION":
                                        alert("<%=t('message(session expires)')%>");
                                        window.parent.location.href = "./login";
                                        return;
                                    case "FAIL":
                                        alert("<%=t('message(save failed)')%>");
                                        return;
                                    case "SUCCESS":
                                        alert("<%=t('message(save success)')%>");
                                        break;
                                }

                                $('.modal').hide();
                                search();
                                
                                clearModal();
                            },
                            error: function (xhr, status, error) {
                                alert("<%=t('message(request failed)')%>");
                            },
                        });
                    }
                });

                $('.cancel').click(function() {
                    if (confirm("<%=t('message(input cancel)')%>") == true)
                    {
                        $('.modal').hide();
                        
                        clearModal();
                    }
                });
                
                createVariablesSelection($('.contract_service'), contractServices);
                createVariablesSelection($('.contract_div'), contractDivs);

                createVariablesSelection($('.monetary_unit'), monetaryUnits);
                createVariablesSelection($('.contract_period'), contractPeriods);
                createVariablesSelection($('.license_type'), licenseTypes);
                createVariablesSelection($('.license_div'), licenseDivs);
                
                createVariablesSelection($('.odm_cont_div'), odmContractDivs);
                createVariablesSelection($('.pay_currency'), monetaryUnits);
                createVariablesSelection($('.pay_unit'), payUnits);
                
                createVariablesSelection($('.equip_lent'), useYn);
            });
        </script>
    </head>
    <body>
        <form class="contract-status-form">
            <div class="content">
                <div>
                    <div class="title"><%=t('search conditions')%></div>
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th width="120px" class="right-align"><%=t('client company')%></th>
                                    <td class="left-align">
                                        <select class="s_company_no" style="width:240px;">
                                            <option value=""><%=t('choose')%></option>
                                        </select>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div></br></br>
                <div class="contents-container">
                    <div class="title"><%=t('contract list')%></div>
                    <div class="top-right-button">
                        <div class="align-container">
                            <p><input type="button" class="add" value="<%=t('regist')%>"/></p>
                            <p><input type="button" class="modify" value="<%=t('modify')%>"/></p>
                            <input type="button" class="detail" value="<%=t('details')%>"/>
                        </div>
                    </div>
                    <div>
                        <table class="contract">
                            <thead>
                                <tr>
                                    <th width="180px"><%=t('contract number')%></th>
                                    <th width="260px"><%=t('contract name')%></th>
                                    <th width="120px"><%=t('contract date')%></th>
                                    <th width="140px"><%=t('person in charge')%></th>
                                    <th width="200px"><%=t('contract period')%></th>
                                    <th width="100px"><%=t('monetray unit')%></th>
                                    <th width="100px"><%=t('exchange rate')%></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="hidden">
                                    <td class="cell_contract_no" style="text-align: center;"></td>
                                    <td class="cell_contract_name" style="text-align: left;"></td>
                                    <td class="cell_contract_date" style="text-align: center;"></td>
                                    <td class="cell_contractor" style="text-align: center;"></td>
                                    <td>
                                        <div class="align-container-center">
                                            <p class="cell_start_date"></p>
                                            <p class="">~</p>
                                            <p class="cell_end_date"></p>
                                        </div>
                                    </td>
                                    <td class="cell_monetary_unit" style="text-align: center;"></td>
                                    <td class="cell_exchange_rate" style="text-align: right;"></td>
                                </tr>
                                <tr>
                                    <td colspan="9"><%=t('message(search data)')%></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
        <div class="modal">
            <div class="modal-content" style="width:1100px">
                <div class="contents-container">
                    <span class="close">&times;</span>
                    <div class="title"><%=t('contract management')%></div>
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th width="120px" class="right-align">*<%=t('client company')%></th>
                                    <td width="980px" class="left-align" colspan="3">
                                        <input type="hidden" class="company_no"/>
                                        <input type="text" class="company_name" style="width: 240px;" readonly/>
                                    </td>
                                </tr>
                                <tr>
                                    <th width="120px" class="right-align">*<%=t('contract number')%></th>
                                    <td width="380px" class="left-align">
                                        <input type="text" class="contract_no" style="width: 240px;" readonly/>
                                    </td>
                                    <th width="120px" class="right-align">*<%=t('contract name')%></th>
                                    <td width="380px" class="left-align" colspan="3">
                                        <input type="text" class="contract_name" style="width: 380px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('contract date')%></th>
                                    <td class="left-align">
                                        <input type="date" class="contract_date" style="width: 120px;"/>
                                    </td>
                                    <th class="right-align">*<%=t('contractor')%></th>
                                    <td class="left-align">
                                        <input type="text" class="contractor" style="width: 160px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('contract service')%></th>
                                    <td class="left-align">
                                        <select class="contract_service"></select>
                                    </td>
                                    <th class="right-align">*<%=t('contract classification')%></th>
                                    <td class="left-align">
                                        <select class="contract_div"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('contract period')%></th>
                                    <td class="left-align" colspan="3">
                                        <div class="align-container">
                                            <p><select class="contract_period"></select></p>
                                            <p><input type="date" class="start_date" style="width: 120px;"/></p>
                                            <p>~</p>
                                            <p><input type="date" class="end_date" style="width: 120px;"/></p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('monetray unit')%></th>
                                    <td class="left-align">
                                        <select class="monetary_unit"></select>
                                    </td>
                                    <th class="right-align">*<%=t('exchange rate')%></th>
                                    <td class="left-align">
                                        <input type="text" class="exchange_rate" style="width:100px; text-align: right;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('person in charge of a contract')%></th>
                                    <td class="left-align" colspan="3">
                                        <select class="contract_manager"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align"><%=t('remark')%></th>
                                    <td class="left-align" colspan="3">
                                        <textarea class="remark" style="width:940px; height:60px;"></textarea>
                                    </td>
                                </tr>
                            </thead>
                        </table></br>
                    </div>
                    <div class="table-container" style="height:200px">
                        <!-- 라이센스 시작 -->
                        <div id="license_content" class="hidden">
                            <div class="title"><%=t('license')%></div>
                            <div class="top-right-button">
                                <div class="align-container">
                                    <p><input type="button" class="license_add" value="<%=t('regist')%>"/></p>
                                    <input type="button" class="license_delete" value="<%=t('delete')%>"/>
                                </div>
                            </div>
                            <table class="license">
                                <thead>
                                    <tr>
                                        <th width="160px"><%=t('number')%></th>
                                        <th width="140px"><%=t('type')%></th>
                                        <th width="140px"><%=t('division')%></th>
                                        <th width="220px"><%=t('period')%></th>
                                        <th width="60px"><%=t('quantity')%></th>
                                        <th width="80px"><%=t('unit price')%></th>
                                        <th width="100px"><%=t('amount')%></th>
                                        <th width="100px"><%=t('discount amount')%></th>
                                        <th width="100px"><%=t('actual amount')%></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="hidden">
                                        <td>
                                            <input type="hidden" class="mode" value="I">
                                            <input type="text" class="license_no" style="width:100px;" readonly>
                                        </td>
                                        <td>
                                            <select class="license_type" style="width:126px;"></select>
                                        </td>
                                        <td>
                                            <select class="license_div" style="width:126px"></select>
                                        </td>
                                        <td>
                                            <div class="align-container">
                                                <p><input type="date" class="license_start_date" style="width:105px;"></p>
                                                <p>~</p>
                                                <input type="date" class="license_end_date" style="width:105px;">
                                            </div>
                                        </td>
                                        <td><input type="text" class="license_count" style="width:50px; text-align:right" value="0"></td>
                                        <td><input type="text" class="unit_price" style="width:80px; text-align:right" value="0"></td>
                                        <td><input type="text" class="license_amount" style="width:100px; text-align:right" readonly value="0"></td>
                                        <td><input type="text" class="license_discounted_amount" style="width:100px; text-align:right" value="0"></td>
                                        <td><input type="text" class="license_actual_amount" style="width:100px; text-align:right" readonly value="0"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- 라이센스 끝 -->
                        <!-- ODM 계약 시작 -->
                        <div id="odm_content" class="hidden">
                            <div class="title"><%=t('odm contract')%></div>
                            <div class="top-right-button">
                                <div class="align-container">
                                    <p><input type="button" class="odm_contract_add" value="<%=t('regist')%>"/></p>
                                    <input type="button" class="odm_contract_delete" value="<%=t('delete')%>"/>
                                </div>
                            </div>
                            <table class="odm_contract">
                                <thead>
                                    <tr>
                                        <th width="60px"><%=t('sequential number')%></th>
                                        <th width="160px"><%=t('contract classification')%></th>
                                        <th width="140px"><%=t('settlement currency')%></th>
                                        <th width="260px"><%=t('payment unit')%></th>
                                        <th width="160px"><%=t('payment cycle')%></th>
                                        <th width="160px"><%=t('payment unity price')%></th>
                                        <th width="160px"><%=t('date of application')%></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="hidden">
                                        <td>
                                            <input type="hidden" class="mode" value="I">
                                            <input type="text" class="odm_seq" style="width:50px;" readonly>
                                        </td>
                                        <td>
                                            <select class="odm_cont_div" style="width:150px;"></select>
                                        </td>
                                        <td>
                                            <select class="pay_currency" style="width:130px"></select>
                                        </td>
                                        <td>
                                            <select class="pay_unit" style="width:250px;"></select>
                                        </td>
                                        <td><input type="text" class="pay_term_mo" style="width:150px; text-align:right" value="0"></td>
                                        <td><input type="text" class="unit_price" style="width:150px; text-align:right" value="0"></td>
                                        <td><input type="date" class="apply_date" style="width:150px;"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- ODM 계약 끝 -->
                        <!-- 선박별 계약 시작 -->
                        <div id="ships_content" class="hidden">
                            <div class="title"><%=t('ship contract')%></div>
                            <div class="top-right-button">
                                <div class="align-container">
                                    <p><input type="button" class="ships_contract_add" value="<%=t('regist')%>"/></p>
                                    <input type="button" class="ships_contract_delete" value="<%=t('delete')%>"/>
                                </div>
                            </div>
                            <table class="ships_contract">
                                <thead>
                                    <tr>
                                        <th width="60px"><%=t('sequential number')%></th>
                                        <th width="200px"><%=t('ship name')%></th>
                                        <th width="160px"><%=t('imo number')%></th>
                                        <th width="200px"><%=t('equipment rental')%></th>
                                        <th width="300px"><%=t('period')%></th>
                                        <th width="180px"><%=t('payment system')%></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="hidden">
                                        <td>
                                            <input type="hidden" class="mode" value="I">
                                            <input type="text" class="ship_seq" style="width:50px;" readonly>
                                        </td>
                                        <td><input type="text" class="ship_name" style="width:190px;"></td>
                                        <td><input type="text" class="imo_no" style="width:150px;"></td>
                                        <td>
                                            <select class="equip_lent" style="width:196px"></select>
                                        </td>
                                        <td>
                                            <div class="align-container">
                                                <p><input type="date" class="apply_start_date" style="width:125px;"></p>
                                                <p>~</p>
                                                <input type="date" class="apply_finish_date" style="width:125px;">
                                            </div>
                                        </td>
                                        <td>
                                            <input type="hidden" class="plan_seq"/>
                                            <select class="plan_id" style="width:170px"></select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- 선박별 계약 끝 -->
                    </div></br>
                    <div class="bottom-button">
                        <div class="align-container">
                            <p><input type="button" class="save" value="<%=t('save')%>"/></p>
                            <input type="button" class="cancel" value="<%=t('cancel')%>"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
