<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/public/css/styles-figma.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
        <script>
            $(document).ready(function() {
                $('#logo').click(function(event) {
                    event.preventDefault();

                    $.ajax({
                        url: "../session",
                        method: "POST",
                        success: function (data) {
                            switch (data) {
                                case "SESSION":
                                    window.parent.location.href = "./main";
                                    break;
                                case "NO SESSION":
                                    alert("<%=t('message(session expires)')%>");
                                    window.parent.location.href = "./login";
                                    break;
                            }
                        },
                        error: function (xhr, status, error) {
                            alert("<%=t('message(request failed)')%>");
                            window.location.href = "./login";
                        },
                    });
                });

                $('.side-menu div').each(function() {
                    if ($(this).attr('id') === $('#menu_id').val()) {
                        $(this).addClass('side-menu-selected');
                    }
                });

                $('.menu-item').on('mouseenter', function() {
                    var src = `/public/images/icon/${$(this).attr('id')}_selected.png`;
                    $(this).find('img').attr('src', src);
                });

                $('.menu-item').on('mouseleave', function() {
                    if ($(this).hasClass('menu-selected'))
                        return;

                    var src = `/public/images/icon/${$(this).attr('id')}.png`;
                    $(this).find('img').attr('src', src);
                });

                $('.menu-item').click(function() {
                    $('.menu-selected').removeClass('menu-selected');
                    $(this).addClass('menu-selected');

                    var submenu = $(this).next('.submenu');
                    $('.submenu').not(submenu).slideUp();
                    submenu.slideToggle();

                    if ($(this).attr('id') === 'contract_parent' || $(this).attr('id') === 'manager_parent')
                        return;

                    parent.onSelectMenu($(this).attr('id'));
                });

                $('.submenu-item').click(function() {
                    $('.submenu-selected').removeClass('submenu-selected');
                    $(this).addClass('submenu-selected');
                    
                    parent.onSelectMenu($(this).attr('id'));
                });
            });
        </script>
    </head>
    <body>
        <form class="sidebar-contents" id="sidebar-form">
            <input type="hidden" id="menu_id" value="<%=session.menuId%>"/>
            <div id="logo" class="logo"></div>
            <div class="menu-title">Menu</div>
            <div class="menu">
                <div id="dashboard" class="menu-item">
                    <div class="menu-item-icon"><img src="/public/images/icon/dashboard.png"/></div>
                    <div class="menu-item-text"><%=t('home')%></div>
                </div>
                <div id="company" class="menu-item">
                    <div class="menu-item-icon"><img src="/public/images/icon/company.png"/></div>
                    <div class="menu-item-text"><%=t('customer management')%></div>
                </div>
                <div id="contract_parent" class="menu-item">
                    <div class="menu-item-icon"><img src="/public/images/icon/contract_parent.png"/></div>
                    <div class="menu-item-text"><%=t('contract management')%></div>
                </div>
                <div class="submenu">
                    <div id="contract" class="submenu-item">
                        <div class="menu-item-text"><%=t('contract management')%></div>
                    </div>
                    <div id="contract_cancel" class="submenu-item">
                        <div class="menu-item-text"><%=t('contract cancel')%></div>
                    </div>
                    <div id="ship_cctv" class="submenu-item">
                        <div class="menu-item-text"><%=t('ship cctv')%></div>
                    </div>
                </div>
                <div id="manager_parent" class="menu-item">
                    <div class="menu-item-icon"><img src="/public/images/icon/manager_parent.png"/></div>
                    <div class="menu-item-text"><%=t('user management')%></div>
                </div>
                <div class="submenu">
                    <div id="contract_manager" class="submenu-item">
                        <div class="menu-item-text"><%=t('administrator')%></div>
                    </div>
                    <div id="contract_user" class="submenu-item">
                        <div class="menu-item-text"><%=t('user')%></div>
                    </div>
                </div>
                <div id="consign_contract" class="menu-item">
                    <div class="menu-item-icon-minus"><img src="/public/images/icon/consign_contract.png"/></div>
                    <div class="menu-item-text"><%=t('consignment contract')%></div>
                </div>
                <div id="plan" class="menu-item">
                    <div class="menu-item-icon"><img src="/public/images/icon/plan.png"/></div>
                    <div class="menu-item-text"><%=t('rate plan management')%></div>
                </div>
            </div>
        </form>
    </body>
</html>
