<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/public/css/content-styles-figma.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation"></script>
        <script src="/public/js/common/<%= i18n.language %>/common_variables.js"></script>
        <script src="/public/js/common/common_utility.js"></script>
        <script>
            let copiedElement = null;
            $(document).ready(function() {
                var nations = [];

                copiedElement = $('#charts').children().clone();

                $.ajax({
                    url: "../nations/status",
                    method: "POST",
                    success: function (data) {
                        if (data === 'NO SESSION') {
                            alert("<%=t('message(session expires)')%>");
                            window.parent.location.href = "./login";
                        } else if (data === 'NO DATA') {
                            nations = [
                                { code:'CN', ename:'China', kname:'중국', country:'86' },
                                { code:'KR', ename:'Republic of Korea', kname:'대한민국', country:'82' },
                                { code:'JP', ename:'Japan', kname:'일본', country:'81' },
                                { code:'US', ename:'United States of America', kname:'미국', country:'1' },
                            ];
                        } else {
                            if (Array.isArray(data)) {
                                $.each(data, function(index, post) {
                                    nations.push({
                                        code:post.nationIso2, 
                                        ename:post.nationEname, 
                                        kname:post.nationKname, 
                                        country:post.nationCode
                                    });
                                });
                            }
                        }
                    },
                    error: function (xhr, status, error) {
                        alert("<%=t('message(request failed)')%>");
                    },
                });

                Search();
            });
            
            var ClearUsage= function() {
                const rows = document.querySelectorAll(".status-table tbody tr:not(:first-child)");
                rows.forEach(row => {
                    row.remove();
                });
            }
            
            var ClearCompany = function() {
                const rows = document.querySelectorAll(".company tbody tr:not(:first-child)");
                rows.forEach(row => {
                    row.remove();
                });
            }

            var Search = function(){
                $.ajax({
                    url: "../admin/dashboard/satelliteUsage",
                    method: "POST",
                    dataType: 'json',
                    success: function (data) {
                        ClearUsage();

                        if (data === 'NO SESSION') {
                            alert("<%=t('message(session expires)')%>");
                            window.parent.location.href = "./login";
                        } else if (data === 'NO DATA') {
                            var newRow = '<tr><td colspan="6"><%=t("message(no data)")%></td></tr>';
                            $('#usage_status').append(newRow);
                        } else {
                            if (Array.isArray(data)) {
                                $.each(data, function(index, post) {
                                    var newRow = $('#usage_status tbody tr').first().clone().removeClass('hidden');

                                    $(newRow).find('#cell_company_name').text(post.companyName);
                                    $(newRow).find('#cell_plan_name').text(post.planEname);
                                    $(newRow).find('#cell_time').text(formatCurrency(post.time));
                                    $(newRow).find('#cell_total_users').text(post.totalUsers);
                                    $(newRow).find('#cell_total_usage').text(formatCurrency(ConvertMinute(post.totalUsage)));
                                    $(newRow).find('#cell_monthly_usage').text(formatCurrency(ConvertMinute(post.monthlyUsage)));
                                    $(newRow).find('#cell_exceeded_time').text(formatCurrency(ConvertMinute(post.monthlyUsage) - post.time));

                                    $('#usage_status tbody').append(newRow);
                                });
                            }
                        }
                        scrollTable();
                        MonthlyChart();
                    },
                    error: function (xhr, status, error) {
                        var newRow = '<tr><td colspan="6"><%=t("message(request failed)")%></td></tr>';
                        $('#usage_status').append(newRow);
                    },
                });
            }

            var MonthlyChart = function() {
                let plans = [];
                let companies = [];
                let usage = [];

                $.ajax({
                    url: "../admin/dashboard/monthlySatelliteUsage",
                    method: "POST",
                    dataType: 'json',
                    success: function (data) {
                        if (data === 'NO SESSION') {
                            alert("<%=t('message(session expires)')%>");
                            window.parent.location.href = "./login";
                        } else if (data === 'NO DATA') {
                            companies = [];
                            usage = [];
                        } else {
                            if (Array.isArray(data)) {
                                let planId = null;
                                let time = 0;
                                let planEname = "";
                                $.each(data, function(index, post) {
                                    if (planId != post.planId){
                                        if (companies.length > 0) {
                                            plans.push({
                                                threshold: time,
                                                planEname: planEname,
                                                companies: companies,
                                                usage: usage
                                            });
                                        }

                                        time = 0;
                                        planEname = "";
                                        companies = [];
                                        usage = [];
                                        planId = post.planId;
                                    }
                                    
                                    time = post.time;
                                    planEname = post.planEname;
                                    companies.push(post.companyName);
                                    usage.push(ConvertMinute(post.usage));
                                });
                                
                                if (companies.length > 0) {
                                    plans.push({
                                        threshold: time,
                                        planEname: planEname,
                                        companies: companies,
                                        usage: usage
                                    });
                                }
                            }
                        }

                        if (plans.length > 0) {
                            for(let i = 0; i < plans.length; i++) {
                                if (i > 0) {
                                    $('#charts').append(copiedElement.clone());
                                }
                            
                                let elements = document.querySelectorAll('[id="monthlyBarChart"]');
                                let chart = elements[elements.length - 1].getContext('2d');
                                new Chart(chart, {
                                    type: 'bar',
                                    data: {
                                        labels: plans[i].companies,
                                        datasets: [{
                                            label: plans[i].planEname,
                                            data: plans[i].usage,
                                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                            borderColor: 'rgba(75, 192, 192, 1)',
                                            borderWidth: 1,
                                        }],
                                    },
                                    options: {
                                        responsive: true,
                                        plugins: {
                                            legend: {
                                                position: 'top',
                                            },
                                            annotation: {
                                                annotations: {
                                                    thresholdLine: {
                                                        type: 'line',
                                                        yMin: plans[i].threshold,
                                                        yMax: plans[i].threshold,
                                                        borderColor: 'red',
                                                        borderWidth: 1,
                                                        label: {
                                                            enabled: true,
                                                            content: `Threshold: ${plans[i].threshold}`,
                                                            position: 'start',
                                                            color: 'red',
                                                        },
                                                    },
                                                },
                                            },
                                        },
                                        scales: {
                                            y: {
                                                beginAtZero: true,
                                            },
                                        },
                                    },
                                });
                            }
                        }
                    },
                    error: function (xhr, status, error) {
                        new Chart(chart, {
                            type: 'bar',
                            data: {
                                labels: companies,
                                datasets: [{
                                    label: 'Monthly Usage',
                                    data: usage,
                                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                    borderColor: 'rgba(75, 192, 192, 1)',
                                    borderWidth: 1,
                                }],
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true,
                                    },
                                },
                            },
                        });
                    },
                });
            }
        </script>
    </head>
    <body>
        <form class="home-form" class="container">
            <div class="contents">
                <div class="contents-item">
                    <div class="title"><%=t('total slink usage')%></div>
                    <table class="status-table">
                        <thead class="status-thead">
                            <tr>
                                <th width="240px"><%=t('client company')%></th>
                                <th width="180px"><%=t('name of plan')%></th>
                                <th width="120px"><%=t('service time')%></th>
                                <th width="120px"><%=t('total users')%></th>
                                <th width="120px"><%=t('total usage')%></th>
                                <th width="120px"><%=t('monthly usage')%></th>
                                <th width="120px"><%=t('exceeded time')%></th>
                            </tr>
                        </thead>
                    </table>
                    <div class="scrollable-tbody">
                        <table id="usage_status" class="status-table">
                            <tbody class="status-tbody">
                                <tr class="hidden">
                                    <td width="240px" id="cell_company_name" style="text-align: left;"></td>
                                    <td width="180px" id="cell_plan_name" style="text-align: left;"></td>
                                    <td width="120px" id="cell_time" style="text-align: right;"></td>
                                    <td width="120px" id="cell_total_users" style="text-align: right;"></td>
                                    <td width="120px" id="cell_total_usage" style="text-align: right;"></td>
                                    <td width="120px" id="cell_monthly_usage" style="text-align: right;"></td>
                                    <td width="120px" id="cell_exceeded_time" style="text-align: right;"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="contents-item">
                    <div id="charts" class="charts" style="text-align: center;">
                        <div class="chart_contents"><canvas id="monthlyBarChart" width="520" height="200"></canvas></div>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>
