<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/public/css/content-styles.css">
        <!--
        <link rel="stylesheet" media="screen and (max-width: 600px)" href="/public/css/styles-small.css">
        <link rel="stylesheet" media="screen and (min-width: 601px) and (max-width: 1024px)" href="/public/css/styles-medium.css">
        <link rel="stylesheet" media="screen and (min-width: 1025px) and (max-width: 2560px)" href="/public/css/styles-large.css">
        -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
        <script src="/public/js/common/common_utility.js"></script>
        <script src="/public/js/common/<%= i18n.language %>/common_variables.js"></script>
        <script>
            $(document).ready(function() {
                var contracts = [];

                var searchContract = function() {
                    clearContract();

                    var companyNo = $('.s_company_no').val();
                    if (companyNo === '') {
                        alert("<%=t('message(select client company)')%>");
                        return false;
                    }

                    $.ajax({
                        url: "../user/contract/codes",
                        method: "POST",
                        data: {
                            companyNo: companyNo,
                        },
                        success: function (data) {
                            if (data === 'NO SESSION') {
                                alert("<%=t('message(session expires)')%>");
                                window.parent.location.href = "./login";
                            } else if (data === 'NO DATA') {
                                alert("<%=t('message(no data)')%>");
                            } else {
                                contracts = [];
                                if (Array.isArray(data)) {
                                    $.each(data, function(index, post) {
                                        contracts.push({
                                            code:post.contractNo, 
                                            name:post.contractName, 
                                            contractDiv:post.contractDiv,
                                            startDate:post.startDate,
                                            endDate:post.endDate
                                        });
                                    });

                                    createSelection($('.s_contract_no'), contracts, "<%=t('select')%>");
                                }
                            }
                        },
                        error: function (xhr, status, error) {
                            alert("<%=t('message(request failed)')%>");
                        },
                    });
                }
                
                var search = function() {
                    clearContractManager();

                    var contractNo = $('.s_contract_no option:selected').val();
                    if (contractNo === '')
                    {
                        alert("<%=t('message(select contract number)')%>");
                        return;
                    }

                    $.ajax({
                        url: "../user/contract/manager/status",
                        method: "POST",
                        data: {
                            contractNo: contractNo,
                        },
                        success: function (data) {

                            if (data === 'NO SESSION') {
                                alert("<%=t('message(session expires)')%>");
                                window.parent.location.href = "./login";
                            } else if (data === 'NO DATA') {
                                var newRow = '<tr><td colspan="5" class="left-align"><%=t("message(no data)")%></td></tr>';
                                $('.contract_manager tbody').append(newRow);
                            } else {
                                if (Array.isArray(data)) {
                                    $.each(data, function(index, post) {
                                        var newRow = $('.contract_manager tbody tr').first().clone().removeClass('hidden');

                                        $(newRow).find('.cell_seq').text(post.seq);
                                        $(newRow).find('.cell_name').text(post.name);
                                        $(newRow).find('.cell_email').text(post.email);
                                        $(newRow).find('.cell_user_auth').text(managerAuths[post.userAuth]);
                                        $(newRow).find('.cell_use_yn').text(useYn[post.useYn]);

                                        $('.contract_manager tbody').append(newRow);
                                    });
                                }
                            }
                        },
                        error: function (xhr, status, error) {
                            var newRow = '<tr><td colspan="5" class="left-align"><%=t("message(request failed)")%></td></tr>';
                            $('.contract_manager tbody').append(newRow);
                        },
                    });
                };

                $('.modify').click(function() {
                    clearModal();

                    var contractNo = $('.s_contract_no').val();
                    if (contractNo === '')
                    {
                        alert("<%=t('message(select client company)')%>");
                        return;
                    }

                    var selectedRow = $(".contract_manager tr.selected");
                    if (selectedRow.length > 0) {
                        var seq = selectedRow.find('.cell_seq').text();

                        // 행 데이터 출력
                        $.ajax({
                            url: "../user/contract/manager/detail",
                            method: "POST",
                            data: {
                                contractNo: contractNo,
                                seq: seq,
                            },
                            success: function (data) {
                                if (data === 'NO SESSION') {
                                    alert("<%=t('message(session expires)')%>");
                                    window.parent.location.href = "./login";
                                } else if (data === 'NO DATA') {
                                    alert("<%=t('message(no data)')%>");
                                } else {
                                    var emailSplit = data.email.split("@");

                                    $('.contract_no').val(data.contractNo);
                                    $('.seq').val(data.seq);
                                    $('.user_id').val(data.userId);
                                    $('.user_id_copy').val(emailSplit[0]);
                                    $('.domain_addr').val(emailSplit[1]);
                                    $('.pwd').val(data.pwd);
                                    $('.pwd').attr('readonly', true);
                                    $('.check_pwd').val(data.pwd);
                                    $('.check_pwd').attr('readonly', true);
                                    $('.name').val(data.name);
                                    $('.user_auth').val(data.userAuth);
                                    $('.use_yn').val(data.useYn);
                                    $('.change_password').show();

                                    $('.modal').show();
                                }
                            },
                            error: function (xhr, status, error) {
                               alert("<%=t('message(request failed)')%>");
                            },
                        });
                    } else {
                        alert("<%=t('message(select row)')%>");
                    }
                });

                $('.contract_manager tbody').on('click', 'tr', function() {
                    $(this).addClass('selected').siblings().removeClass('selected');
                });

                var clearContractManager = function() {
                    const rows = document.querySelectorAll(".contract_manager tbody tr:not(:first-child)");
                    rows.forEach(row => {
                        row.remove();
                    });
                }

                // Modal Event And Function
                var clearModal = function() {
                    $('.contract_no').val('');
                    $('.seq').val('');
                    $('.user_id').val('');
                    $('.user_id_copy').val('');
                    $('.domain_addr').val('');
                    $('.pwd').val('');
                    $('.check_pwd').val('');
                    $('.name').val('');
                    $('.user_auth').val('');
                    $('.use_yn').val('');
                };

                var clearPasswordModal = function() {
                    $('.new_pwd').val('');
                    $('.check_pwd').val('');
                }

                var clearContract = function() {
                    $('.s_contract_no').empty();
                
                    // Add default option
                    $('.s_contract_no').append($('<option>', {
                        value: '',
                        text: "<%=t('select')%>"
                    }));
                }

                var validationCheck = function() {
                    if ($('.user_id').val() === '') {
                        alert("<%=t('message(enter id)')%>");
                        return false;
                    }

                    if ($('.pwd').val() === '') {
                        alert("<%=t('message(enter password)')%>");
                        return false;
                    }

                    if ($('.check_pwd').val() === '') {
                        alert("<%=t('message(enter password check)')%>");
                        return false;
                    }

                    if ($('.pwd').val() !== $('.check_pwd').val()) {
                        alert("<%=t('message(enter password not match)')%>");
                        return false;
                    }

                    if ($('.name').val() === '') {
                        alert("<%=t('message(enter administrator name)')%>");
                        return false;
                    }

                    if ($('.user_auth').val() === '') {
                        alert("<%=t('message(enter permission)')%>");
                        return false;
                    }

                    if ($('.use_yn').val() === '') {
                        alert("<%=t('message(enter use)')%>");
                        return false;
                    }

                    return true;
                }

                $('.s_contract_no').change(function() {
                    search();
                });
                
                $('.user_id').change(function() {
                    $('.user_id_copy').val($('.user_id').val());
                });

                $('.close').click(function() {
                    $('.modal').hide();
                    clearModal();
                });

                $('.save').click(function() {
                    if (confirm("<%=t('message(save data)')%>")) {
                        if (!validationCheck()) {
                            return;
                        }

                        var contractNo = $('.contract_no').val();
                        var seq = $('.seq').val();
                        var userId = $('.user_id').val();
                        var email = `${$('.user_id_copy').val()}@${$('.domain_addr').val()}`;
                        var pwd = $('.pwd').val();
                        var chkPwd = $('.check_pwd').val();
                        var name = $('.name').val();
                        var userAuth = $('.user_auth').val();
                        var useYn = $('.use_yn').val();

                        var url = "../user/contract/manager/update";

                        $.ajax({
                            url: url,
                            method: "POST",
                            data: {
                                contractNo: contractNo,
                                seq: seq,
                                userId: userId,
                                email: email,
                                pwd: pwd,
                                name: name,
                                userAuth: userAuth,
                                useYn: useYn,
                            },
                            success: function (data) {
                                switch (data) {
                                    case "NO SESSION":
                                        alert("<%=t('message(session expires)')%>");
                                        window.parent.location.href = "./login";
                                        return;
                                    case "EMAIL DUPLICATE":
                                        alert("<%=t('message(enter email duplicated)')%>");
                                        return;
                                    case "FAIL":
                                        alert("<%=t('message(save failed)')%>");
                                        return;
                                    case "SUCCESS":
                                        alert("<%=t('message(save success)')%>");
                                        break;
                                }

                                $('.modal').hide();
                                search();
                                
                                clearModal();
                            },
                            error: function (xhr, status, error) {
                                alert("<%=t('message(request failed)')%>");
                            },
                        });
                    }
                });

                $('.cancel').click(function() {
                    if (confirm("<%=t('message(input cancel)')%>") == true)
                    {
                        $('.modal').hide();
                        clearModal();
                    }
                });

                $('.change_password').click(function() {
                    $('.password_modal').show();
                });

                $('.password_close').click(function() {
                    clearPasswordModal();

                    $('.password_modal').hide();
                });

                $('.password_save').click(function() {
                    if (confirm("<%=t('message(save data)')%>")) {
                        var contractNo = $('.contract_no').val();
                        var seq = $('.seq').val();
                        var oldPwd = $('.pwd').val();
                        var newPwd = $('.new_pwd').val();
                        var checkPwd = $('.check_new_pwd').val();

                        if (newPwd === '') {
                            alert("<%=t('message(enter new password)')%>");
                            return;
                        }
                        
                        if (checkPwd === '') {
                            alert("<%=t('message(enter password check)')%>");
                            return;
                        }
                        
                        if (newPwd !== checkPwd) {
                            alert("<%=t('message(enter password not match)')%>");
                            return;
                        }
                        
                        if (newPwd === oldPwd) {
                            alert("<%=t('message(enter pervious same password)')%>");
                            return;
                        }

                        $.ajax({
                            url: "../user/contract/manager/changePassword",
                            method: "POST",
                            data: {
                                contractNo: contractNo,
                                seq: seq,
                                pwd: newPwd,
                            },
                            success: function (data) {
                                switch (data) {
                                    case "NO SESSION":
                                        alert("<%=t('message(session expires)')%>");
                                        window.parent.location.href = "./login";
                                        return;
                                    case "FAIL":
                                        alert("<%=t('message(save failed)')%>");
                                        return;
                                    case "SUCCESS":
                                        alert("<%=t('message(save success)')%>");
                                        break;
                                }

                                $('.password_modal').hide();
                                
                                clearPasswordModal();
                            },
                            error: function (xhr, status, error) {
                                alert("<%=t('message(request failed)')%>");
                            },
                        });
                    }
                });

                $('.password_cancel').click(function() {
                    if (confirm("<%=t('message(input cancel)')%>") == true)
                    {
                        $('.password_modal').hide();
                        
                        clearPasswordModal();
                    }
                });
                
                createVariablesSelection($('.user_auth'), managerAuths, "<%=t('select')%>");
                createVariablesSelection($('.use_yn'), useYn, "<%=t('select')%>");

                searchContract();
            });
        </script>
    </head>
    <body>
        <form class="contract-customer-status-form">
            <div class="content">
                <div>
                    <div class="title"><%=t('search conditions')%></div>
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th width="120px" class="right-align"><%=t('contract number')%></th>
                                    <td class="left-align">
                                        <input type="hidden" class="s_company_no" value="<%=session.user.companyNo%>"/>
                                        <select class="s_contract_no" style="width:320px;">
                                            <option value=""><%=t('choose')%></option>
                                        </select>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div></br></br>
                <div class="contents-container">
                    <div class="title"><%=t('list of contract managers')%></div>
                    <div class="top-right-button">
                        <div class="align-container">
                            <p><input type="button" class="modify" value="<%=t('modify')%>"/></p>
                        </div>
                    </div>
                    <div>
                        <table class="contract_manager">
                            <thead>
                                <tr>
                                    <th width="100px"><%=t('sequential number')%></th>
                                    <th width="260px"><%=t('administrator name')%></th>
                                    <th width="260px"><%=t('email')%></th>
                                    <th width="120px"><%=t('permission')%></th>
                                    <th width="120px"><%=t('use status')%></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="hidden">
                                    <td class="cell_seq" style="text-align: center;"></td>
                                    <td class="cell_name" style="text-align: left;"></td>
                                    <td class="cell_email" style="text-align: left;"></td>
                                    <td class="cell_user_auth" style="text-align: center;"></td>
                                    <td class="cell_use_yn" style="text-align: center;"></td>
                                </tr>
                                <tr>
                                    <td colspan="5"><%=t('message(search data)')%></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
        <div class="modal">
            <div class="modal-content" style="width:540px">
                <div class="contents-container">
                    <span class="close">&times;</span>
                    <div class="title"><%=t('contract manager')%></div>
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th class="right-align" style="width: 120px;">*<%=t('contract number')%></th>
                                    <td class="left-align" style="width: 420px;">
                                        <input type="text" class="contract_no" style="width: 200px;" readonly/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('sequential number')%></th>
                                    <td class="left-align">
                                        <input type="text" class="seq" style="width: 120px;" readonly/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('administrator name')%></th>
                                    <td class="left-align">
                                        <input type="text" class="name" style="width: 160px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('userid')%></th>
                                    <td class="left-align">
                                        <input type="text" class="user_id" style="width: 120px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('email')%></th>
                                    <td class="left-align">
                                        <div class="align-container">
                                            <p><input type="text" class="user_id_copy" style="width: 120px;" readonly/></p>
                                            <p class="">@</p>
                                            <p><input type="text" class="domain_addr" style="width: 160px;" readonly/></p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('password')%></th>
                                    <td class="left-align">
                                        <input type="password" class="pwd" style="width: 160px;"/>
                                        <input type="button" class="change_password" value="<%=t('change password')%>"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('password check')%></th>
                                    <td class="left-align">
                                        <input type="password" class="check_pwd" style="width: 160px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('permission')%></th>
                                    <td class="left-align">
                                        <select class="user_auth"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('use status')%></th>
                                    <td class="left-align">
                                        <select class="use_yn"></select>
                                    </td>
                                </tr>
                            </thead>
                        </table></br>
                    </div></br>
                    <div class="bottom-button">
                        <div class="align-container">
                            <p><input type="button" class="save" value="<%=t('save')%>"/></p>
                            <input type="button" class="cancel" value="<%=t('cancel')%>"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="password_modal">
            <div class="modal-content" style="width:320px">
                <div class="contents-container">
                    <span class="password_close">&times;</span>
                    <div class="title"><%=t('change password')%></div>
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th class="right-align" style="width: 120px;">*<%=t('password')%></th>
                                    <td class="left-align">
                                        <input type="password" class="new_pwd" style="width: 180px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('password check')%></th>
                                    <td class="left-align">
                                        <input type="password" class="check_new_pwd" style="width: 180px;"/>
                                    </td>
                                </tr>
                            </thead>
                        </table></br>
                    </div></br>
                    <div class="bottom-button">
                        <div class="align-container">
                            <p><input type="button" class="password_save" value="<%=t('save')%>"/></p>
                            <input type="button" class="password_cancel" value="<%=t('cancel')%>"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
