<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/public/css/content-styles-figma.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
        <script src="/public/js/common/common_utility.js"></script>
        <script src="/public/js/common/<%= i18n.language %>/common_variables.js"></script>
        <script>
            $(document).ready(function() {
                var contracts = [];
                var licenses = [];
                var shipsContents = [];
                
                var searchContract = function() {
                    clearContract();

                    var companyNo = $('#s_company_no').val();
                    if (companyNo === '') {
                        alert("<%=t('message(select client company)')%>");
                        return;
                    }

                    $.ajax({
                        url: "../user/contract/codes",
                        method: "POST",
                        data: {
                            companyNo: companyNo,
                        },
                        success: function (data) {
                            if (data === 'NO SESSION') {
                                alert("<%=t('message(session expires)')%>");
                                window.parent.location.href = "./login";
                            } else if (data === 'NO DATA') {
                                alert("<%=t('message(no data)')%>");
                            } else {
                                contracts = [];
                                if (Array.isArray(data)) {
                                    $.each(data, function(index, post) {
                                        if (post.contractDiv === 'D' || post.contractDiv === 'A')
                                            return;

                                        contracts.push({
                                            code:post.contractNo, 
                                            name:post.contractName, 
                                            startDate:post.startDate,
                                            endDate:post.endDate
                                        });
                                    });

                                    createSelection($('#s_contract_no'), contracts, "<%=t('select')%>");
                                }
                            }
                        },
                        error: function (xhr, status, error) {
                            alert("<%=t('message(request failed)')%>");
                        },
                    });
                }

                var search = function() {
                    clearContractUser();

                    var contractNo = $('#s_contract_no option:selected').val();
                    if (contractNo === '')
                    {
                        alert("<%=t('message(select contract number)')%>");
                        return;
                    }

                    $.ajax({
                        url: "../user/contract/user/status",
                        method: "POST",
                        data: {
                            contractNo: contractNo,
                        },
                        success: function (data) {

                            if (data === 'NO SESSION') {
                                alert("<%=t('message(session expires)')%>");
                                window.parent.location.href = "./login";
                            } else if (data === 'NO DATA') {
                                var newRow = '<tr><td colspan="9" class="left-align"><%=t("message(no data)")%></td></tr>';
                                $('#contract_user tbody').append(newRow);
                            } else {
                                if (Array.isArray(data)) {
                                    $.each(data, function(index, post) {
                                        var newRow = $('#contract_user tbody tr').first().clone().removeClass('hidden');

                                        $(newRow).find('#cell_user_no').text(post.userNo);
                                        $(newRow).find('#cell_email').text(post.email);
                                        $(newRow).find('#cell_user_name').text(post.userName);
                                        $(newRow).find('#cell_user_pwd').text(post.userPwd);
                                        $(newRow).find('#cell_apply_start_date').text(post.applyStartDate);
                                        $(newRow).find('#cell_apply_finish_date').text(post.applyFinishDate);
                                        $(newRow).find('#cell_license_no').text(post.licenseNo);
                                        $(newRow).find('#cell_ship_seq').text(post.shipSeq);
                                        $(newRow).find('#cell_use_yn').text(useYn[post.useYn]);

                                        $('#contract_user tbody').append(newRow);
                                    });
                                }
                            }
                            scrollTable();
                        },
                        error: function (xhr, status, error) {
                            var newRow = '<tr><td colspan="9" class="left-align"><%=t("message(request failed)")%></td></tr>';
                            $('#contract_user tbody').append(newRow);
                        },
                    });
                };

                $('#add').click(function() {
                    clearModal();

                    var contractNo = $('#s_contract_no option:selected').val();
                    if (contractNo === '')
                    {
                        alert("<%=t('message(select contract number)')%>");
                        return;
                    }

                    // var today = new Date();
                    // var yyyy = today.getFullYear();
                    // var mm = ('0' + (today.getMonth() + 1)).slice(-2);
                    // var dd = ('0' + today.getDate()).slice(-2);
                    // var formattedDate = yyyy + '-' + mm + '-' + dd;

                    var foundContract = contracts.find(function(contract) {
                        return contract.code === contractNo;
                    });

                    $('#contract_no').val(contractNo);
                    $('#contract_div').val(foundContract.contractDiv);
                    $('#apply_start_date').val(foundContract.startDate);
                    $('#apply_finish_date').val(foundContract.endDate);
                    $('#domain_addr').val($('#s_domain_addr').val());
                    $('#user_id').removeAttr('readonly');
                    $('#user_pwd').removeAttr('readonly');
                    $('#check_user_pwd').removeAttr('readonly');
                    $('#change_password').hide();

                    if ($('#contract_div').val() === 'L') {
                        $('#license').show();
                        $('#ships').hide();
                    } else if ($('#contract_div').val() === 'S') {
                        $('#license').hide();
                        $('#ships').show();
                    } else {
                        $('#license').hide();
                        $('#ships').hide();
                    }

                    $('.modal').show();
                });

                $('#modify').click(function() {
                    clearModal();

                    var contractNo = $('#s_contract_no').val();
                    if (contractNo === '')
                    {
                        alert("<%=t('message(select client company)')%>");
                        return;
                    }

                    var selectedRow = $('#contract_user tr.selected');
                    if (selectedRow.length > 0) {
                        var userNo = selectedRow.find('#cell_user_no').text();

                        // 행 데이터 출력
                        $.ajax({
                            url: "../user/contract/user/detail",
                            method: "POST",
                            data: {
                                contractNo: contractNo,
                                userNo: userNo,
                            },
                            success: function (data) {
                                if (data === 'NO SESSION') {
                                    alert("<%=t('message(session expires)')%>");
                                    window.parent.location.href = "./login";
                                } else if (data === 'NO DATA') {
                                    alert("<%=t('message(no data)')%>");
                                } else {

                                    var emailSplit = data.email.split("@");

                                    $('#contract_no').val(data.contractNo);
                                    $('#contract_div').val(data.contractDiv);
                                    $('#user_no').val(data.userNo);
                                    $('#user_id').val(data.userId);
                                    $('#user_id_copy').val(emailSplit[0]);
                                    $('#domain_addr').val(emailSplit[1]);
                                    $('#user_name').val(data.userName);
                                    $('#user_pwd').val(data.userPwd);
                                    $('#user_pwd').attr('readonly', true);
                                    $('#check_user_pwd').val(data.userPwd);
                                    $('#check_user_pwd').attr('readonly', true);
                                    $('#apply_start_date').val(data.applyStartDate);
                                    $('#apply_finish_date').val(data.applyFinishDate);
                                    $('#license_no').val(data.licenseNo);
                                    $('#ship_seq').val(data.shipSeq);
                                    $('#use_yn').val(data.useYn);

                                    $('#change_password').show();

                                    if ($('#contract_div').val() === 'L') {
                                        $('#license').show();
                                        $('#ships').hide();
                                    } else if ($('#contract_div').val() === 'S') {
                                        $('#license').hide();
                                        $('#ships').show();
                                    } else {
                                        $('#license').hide();
                                        $('#ships').hide();
                                    }

                                    $('.modal').show();
                                }
                            },
                            error: function (xhr, status, error) {
                               alert("<%=t('message(request failed)')%>");
                            },
                        });
                    } else {
                        alert("<%=t('message(select row)')%>");
                    }
                });

                $('#delete').click(function() {
                    clearModal();

                    var contractNo = $('#s_contract_no').val();
                    if (contractNo === '')
                    {
                        alert("<%=t('message(select client company)')%>");
                        return;
                    }

                    var selectedRow = $('#contract_user tr.selected');
                    if (selectedRow.length > 0) {
                        if (confirm("<%=t('message(delete data)')%>") == true)
                        {
                            var userNos = [];

                            userNos.push({
                                contractNo: contractNo,
                                userNo: selectedRow.find('#cell_user_no').text()
                            });

                            // 행 데이터 출력
                            $.ajax({
                                url: "../user/contract/user/delete",
                                method: "POST",
                                data: {
                                    userNos: userNos,
                                },
                                success: function (data) {
                                    if (data === 'NO SESSION') {
                                        alert("<%=t('message(session expires)')%>");
                                        window.parent.location.href = "./login";
                                    } else if (data === 'FAIL') {
                                        alert("<%=t('message(delete failed)')%>");
                                    } else {
                                        alert("<%=t('message(delete success)')%>");

                                        search();
                                    }
                                },
                                error: function (xhr, status, error) {
                                    alert("<%=t('message(request failed)')%>");
                                },
                            });
                        }
                    } else {
                        alert("<%=t('message(select row)')%>");
                    }
                });

                $('#contract_user tbody').on('click', 'tr', function() {
                    $(this).addClass('selected').siblings().removeClass('selected');
                });

                var clearContractUser = function() {
                    const rows = document.querySelectorAll("#contract_user tbody tr:not(:first-child)");
                    rows.forEach(row => {
                        row.remove();
                    });
                }

                // Modal Event And Function
                var clearModal = function() {
                    $('#contract_no').val('');
                    $('#contract_div').val('');
                    $('#user_no').val('');
                    $('#user_id').val('');
                    $('#user_id_copy').val('');
                    $('#domain_addr').val('');
                    $('#user_name').val('');
                    $('#user_pwd').val('');
                    $('#check_user_pwd').val('');
                    $('#apply_start_date').val('');
                    $('#apply_finish_date').val('');
                    $('#license_no').val('');
                    $('#ship_seq').val('');
                    $('#use_yn').val('');
                };

                var clearPasswordModal = function() {
                    $('#new_user_pwd').val('');
                    $('#check_new_user_pwd').val('');
                }

                var clearContract = function() {
                    $('#s_contract_no').empty();
                
                    // Add default option
                    $('#s_contract_no').append($('<option>', {
                        value: '',
                        text: "<%=t('select')%>"
                    }));
                }

                var validationCheck = function() {
                    if ($('#user_id').val() === '') {
                        alert('사용자ID(이메일)을 입력하세요.');
                        return false;
                    }

                    if ($('#user_pwd').val() === '') {
                        alert("<%=t('message(enter password)')%>");
                        return false;
                    }

                    if ($('#check_user_pwd').val() === '') {
                        alert("<%=t('message(enter password check)')%>");
                        return false;
                    }

                    if ($('#user_pwd').val() !== $('#check_user_pwd').val()) {
                        alert("<%=t('message(enter password not match)')%>");
                        return false;
                    }

                    if ($('#user_name').val() === '') {
                        alert("<%=t('message(enter username)')%>");;
                        return false;
                    }

                    if ($('#apply_start_date').val() === '') {
                        alert("<%=t('message(enter application start date)')%>");;
                        return false;
                    }

                    if ($('#apply_finish_date').val() === '') {
                        alert("<%=t('message(enter application completion date)')%>");;
                        return false;
                    }

                    if ($('#contract_div').val() === 'L') {
                        if ($('#license_no').val() === '') {
                            alert("<%=t('message(select license)')%>");;
                            return false;
                        }
                    } else {
                        if ($('#ship_seq').val() === '') {
                            alert("<%=t('message(select ship)')%>");;
                            return false;
                        }
                    }

                    if ($('#use_yn').val() === '') {
                        alert("<%=t('message(enter use)')%>");
                        return false;
                    }

                    return true;
                }

                $('#s_contract_no').change(function() {
                    var contractNo = $('#s_contract_no option:selected').val();
                    if (contractNo === '') {
                        alert("<%=t('message(select contract number)')%>");
                        return;
                    }
                    
                    var foundContract = contracts.find(function(contract) {
                        return contract.code === contractNo;
                    });

                    var url = "../user/contract/licenseCodes";
                    if (foundContract.contractDiv === 'L') {
                        url = "../user/contract/licenseCodes";
                    } else {
                        url = "../user/contract/shipsCodes";
                    }

                    $.ajax({
                        url: url,
                        method: "POST",
                        data: {
                            contractNo: contractNo,
                        },
                        success: function (data) {
                            if (data === 'NO SESSION') {
                                alert("<%=t('message(session expires)')%>");
                                window.parent.location.href = "./login";
                            } else if (data === 'NO DATA') {
                                return;
                            } else {
                                if (foundContract.contractDiv === 'L') {
                                    licenses = [];
                                    if (Array.isArray(data)) {
                                        $.each(data, function(index, post) {
                                            licenses.push({
                                                code:post.licenseNo, 
                                                name:post.licenseNo, 
                                            });
                                        });

                                        createSelection($('#license_no'), licenses, "<%=t('select')%>");
                                    }
                                } else {
                                    shipsContents = [];
                                    if (Array.isArray(data)) {
                                        $.each(data, function(index, post) {
                                            shipsContents.push({
                                                code:post.shipSeq, 
                                                name:post.shipName, 
                                            });
                                        });

                                        createSelection($('#ship_seq'), shipsContents, "<%=t('select')%>");
                                    }
                                }
                            }
                        },
                        error: function (xhr, status, error) {
                            alert("<%=t('message(request failed)')%>");
                        },
                    });

                    search();
                });
                
                $('#user_id').change(function() {
                    $('#user_id_copy').val($('#user_id').val());
                });

                $('#close').click(function() {
                    $('.modal').hide();
                    clearModal();
                });

                $('#save').click(function() {
                    if (confirm("<%=t('message(save data)')%>")) {
                        if (!validationCheck()) {
                            return;
                        }

                        var contractNo = $('#contract_no').val();
                        var userNo = $('#user_no').val();
                        var userId = $('#user_id').val();
                        var email = `${$('#user_id_copy').val()}@${$('#domain_addr').val()}`;
                        var userPwd = $('#user_pwd').val();
                        var userName = $('#user_name').val();
                        var applyStartDate = $('#apply_start_date').val();
                        var applyFinishDate = $('#apply_finish_date').val();
                        var licenseNo = $('#license_no').val();
                        var shipSeq = $('#ship_seq').val();
                        var useYn = $('#use_yn').val();

                        var url = "../user/contract/user/insert";
                        if (userNo === ''){
                            url = "../user/contract/user/insert";
                        } else {
                            url = "../user/contract/user/update";
                        }

                        $.ajax({
                            url: url,
                            method: "POST",
                            data: {
                                contractNo: contractNo,
                                userNo: userNo,
                                userId: userId,
                                email: email,
                                userPwd: userPwd,
                                userName: userName,
                                applyStartDate: applyStartDate,
                                applyFinishDate: applyFinishDate,
                                licenseNo: licenseNo,
                                shipSeq: shipSeq,
                                useYn: useYn,
                            },
                            success: function (data) {
                                switch (data) {
                                    case "NO SESSION":
                                        alert("<%=t('message(session expires)')%>");
                                        window.parent.location.href = "./login";
                                        return;
                                    case "EMAIL DUPLICATE":
                                        alert("<%=t('message(enter email duplicated)')%>");;
                                        return;
                                    case "FAIL":
                                        alert("<%=t('message(save failed)')%>");
                                        return;
                                    case "SUCCESS":
                                        alert("<%=t('message(save success)')%>");
                                        break;
                                }

                                $('.modal').hide();
                                search();
                                
                                clearModal();
                            },
                            error: function (xhr, status, error) {
                                alert("<%=t('message(request failed)')%>");
                            },
                        });
                    }
                });

                $('#cancel').click(function() {
                    if (confirm("<%=t('message(input cancel)')%>") == true)
                    {
                        $('.modal').hide();
                        clearModal();
                    }
                });

                $('#change_password').click(function() {
                    $('.password_modal').show();
                });

                $('#password_close').click(function() {
                    clearPasswordModal();

                    $('.password_modal').hide();
                });

                $('#password_save').click(function() {
                    if (confirm("<%=t('message(save data)')%>")) {
                        var contractNo = $('#contract_no').val();
                        var userNo = $('#user_no').val();
                        var oldUserPwd = $('#user_pwd').val();
                        var newUserPwd = $('#new_user_pwd').val();
                        var checkUserPwd = $('#check_new_user_pwd').val();

                        if (newUserPwd === '') {
                            alert("<%=t('message(enter new password)')%>");
                            return;
                        }
                        
                        if (checkUserPwd === '') {
                            alert("<%=t('message(enter password check)')%>");
                            return;
                        }
                        
                        if (newUserPwd !== checkUserPwd) {
                            alert("<%=t('message(enter password not match)')%>");
                            return;
                        }
                        
                        if (nnewUserPwdwPwd === oldUserPwd) {
                            alert("<%=t('message(enter pervious same password)')%>");
                            return;
                        }

                        $.ajax({
                            url: "../user/contract/user/changePassword",
                            method: "POST",
                            data: {
                                contractNo: contractNo,
                                userNo: userNo,
                                userPwd: newUserPwd,
                            },
                            success: function (data) {
                                switch (data) {
                                    case "NO SESSION":
                                        alert("<%=t('message(session expires)')%>");
                                        window.parent.location.href = "./login";
                                        return;
                                    case "FAIL":
                                        alert("<%=t('message(save failed)')%>");
                                        return;
                                    case "SUCCESS":
                                        $('#user_pwd').val(newUserPwd);
                                        $('#check_user_pwd').val(checkUserPwd);
                                        alert("<%=t('message(save success)')%>");
                                        break;
                                }

                                $('.password_modal').hide();
                                
                                clearPasswordModal();
                            },
                            error: function (xhr, status, error) {
                                alert("<%=t('message(request failed)')%>");
                            },
                        });
                    }
                });

                $('#password_cancel').click(function() {
                    if (confirm("<%=t('message(input cancel)')%>") == true)
                    {
                        $('.password_modal').hide();
                        
                        clearPasswordModal();
                    }
                });
                
                createVariablesSelection($('#user_auth'), managerAuths, "<%=t('select')%>");
                createVariablesSelection($('#use_yn'), useYn, "<%=t('select')%>");

                searchContract();
            });
        </script>
    </head>
    <body>
        <form class="contract-customer-status-form">
            <div class="contents">
                <div class="contents-item">
                    <div class="title"><%=t('search conditions')%></div>
                    <div class="search-contents">
                        <div class="search-title">
                            <div class="align-container">
                                <span><img src="/public/images/icon/title.png"/></span>
                                <span><%=t('contract number')%></span>
                            </div>
                        </div>
                        <div class="align-container">
                            <input type="hidden" id="s_company_no" value="<%=session.user.companyNo%>"/>
                            <input type="hidden" id="s_domain_addr" value="<%=session.user.domainAddr%>"/>
                            <select id="s_contract_no" style="width:320px;">
                                <option value=""><%=t('select')%></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="contents-item">
                    <div class="title"><%=t('list of user')%></div>
                    <div class="top-right-button">
                        <div class="align-container">
                            <span><input type="button" id="add" value="<%=t('regist')%>"/></span>
                            <span><input type="button" id="modify" value="<%=t('modify')%>"/></span>
                            <span><input type="button" id="delete" value="<%=t('delete')%>"/></span>
                        </div>
                    </div>
                    <table class="status-table">
                        <thead class="status-thead">
                            <tr>
                                <th width="100px"><%=t('sequential number')%></th>
                                <th width="160px"><%=t('username')%></th>
                                <th width="260px"><%=t('email')%></th>
                                <th width="240px"><%=t('date of application')%></th>
                                <th width="120px"><%=t('use status')%></th>
                            </tr>
                        </thead>
                    </table>
                    <div class="scrollable-tbody" style="max-height: 500px;">
                        <table id="contract_user" class="status-table">
                            <tbody class="status-tbody">
                                <tr class="hidden">
                                    <td width="100px" id="cell_user_no" style="text-align: center;"></td>
                                    <td width="160px" id="cell_user_name" style="text-align: left;"></td>
                                    <td width="260px" id="cell_email" style="text-align: left;"></td>
                                    <td width="240px">
                                        <div class="align-container-center">
                                            <span id="cell_apply_start_date"></span>
                                            <span>~</span>
                                            <span id="cell_apply_finish_date"></span>
                                        </div>
                                    </td>
                                    <td width="120px" id="cell_use_yn" style="text-align: center;"></td>
                                </tr>
                                <tr>
                                    <td colspan="5"><%=t('message(search data)')%></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
        <div class="modal">
            <div class="modal-contents" style="width:600px">
                <div class="contents-container">
                    <span id="close" class="modal-close">&times;</span>
                    <div class="modal-title"><%=t('user')%></div>
                    <div>
                        <table class="modal-table">
                            <thead class="modal-thead">
                                <tr>
                                    <th class="right-align" style="width: 160px;">*<%=t('contract number')%></th>
                                    <td class="left-align" style="width: 420px;">
                                        <input type="text" id="contract_no" style="width: 200px;" readonly/>
                                        <input type="hidden" id="contract_div" />
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('userno')%></th>
                                    <td class="left-align">
                                        <input type="text" id="user_no" style="width: 120px;" readonly/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('username')%></th>
                                    <td class="left-align">
                                        <input type="text" id="user_name" style="width: 160px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('userid')%></th>
                                    <td class="left-align">
                                        <input type="text" id="user_id" style="width: 260px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('email')%></th>
                                    <td class="left-align">
                                        <div class="align-container">
                                            <p><input type="text" id="user_id_copy" style="width: 120px;" readonly/></p>
                                            <p class="">@</p>
                                            <p><input type="text" id="domain_addr" style="width: 160px;" readonly/></p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('password')%></th>
                                    <td class="left-align">
                                        <div class="align-container">
                                            <span><input type="password" id="user_pwd" style="width: 160px;"/></span>
                                            <span><input type="button" id="change_password" value="<%=t('change password')%>"/></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('password check')%></th>
                                    <td class="left-align">
                                        <input type="password" id="check_user_pwd" style="width: 160px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('expiry date')%></th>
                                    <td class="left-align">
                                        <div class="align-container">
                                            <span><input type="date" id="apply_start_date" style="width: 120px;" readonly/></span>
                                            <span>~</span>
                                            <span><input type="date" id="apply_finish_date" style="width: 120px;" readonly/></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr id="license">
                                    <th class="right-align">*<%=t('license')%></th>
                                    <td class="left-align">
                                        <select id="license_no"></select>
                                    </td>
                                </tr>
                                <tr id="ships">
                                    <th class="right-align">*<%=t('ship')%></th>
                                    <td class="left-align">
                                        <select id="ship_seq"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('use status')%></th>
                                    <td class="left-align">
                                        <select id="use_yn"></select>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div></br>
                    <div class="bottom-button">
                        <div class="align-container">
                            <span><input type="button" id="save" value="<%=t('save')%>"/></span>
                            <span><input type="button" id="cancel" value="<%=t('cancel')%>"/></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="password_modal">
            <div class="modal-contents" style="width:320px">
                <div class="contents-container">
                    <span id="password_close" class="modal-close">&times;</span>
                    <div class="modal-title"><%=t('change password')%></div>
                    <div>
                        <table class="modal-table">
                            <thead class="modal-thead">
                                <tr>
                                    <th class="right-align" style="width: 120px;">*<%=t('password')%></th>
                                    <td class="left-align">
                                        <input type="password" id="new_user_pwd" style="width: 180px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('password check')%></th>
                                    <td class="left-align">
                                        <input type="password" id="check_new_user_pwd" style="width: 180px;"/>
                                    </td>
                                </tr>
                            </thead>
                        </table></br>
                    </div></br>
                    <div class="bottom-button">
                        <div class="align-container">
                            <p><input type="button" class="password_save" value="<%=t('save')%>"/></p>
                            <input type="button" class="password_cancel" value="<%=t('cancel')%>"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
