<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/public/css/content-styles-figma.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation"></script>
        <script src="/public/js/common/<%= i18n.language %>/common_variables.js"></script>
        <script src="/public/js/common/common_utility.js"></script>
        <script>
            $(document).ready(function() {
                var companyNo = $('#company_no').val();
                var threshold = 0;

                $.ajax({
                    url: "../user/dashboard/satelliteUsageByUser",
                    method: "POST",
                    dataType: 'json',
                    data: {
                        companyNo: companyNo,
                    },
                    success: function (data) {
                        ClearUsage();

                        if (data === 'NO SESSION') {
                            alert("<%=t('message(session expires)')%>");
                            window.parent.location.href = "./login";
                        } else if (data === 'NO DATA') {
                            var newRow = '<tr><td colspan="6"><%=t("message(no data)")%></td></tr>';
                            $('#satellite-usage').append(newRow);
                        } else {
                            if (Array.isArray(data)) {
                                $.each(data, function(index, post) {
                                    var newRow = $('#satellite-usage tbody tr').first().clone().removeClass('hidden');

                                    $(newRow).find('.cell_plan_name').text(post.planEname);
                                    $(newRow).find('.cell_time').text(formatCurrency(post.time));
                                    $(newRow).find('.cell_total_users').text(post.totalUsers);
                                    $(newRow).find('.cell_total_usage').text(formatCurrency(ConvertMinute(post.totalUsage)));
                                    $(newRow).find('.cell_annual_usage').text(formatCurrency(ConvertMinute(post.annualUsage)));
                                    $(newRow).find('.cell_monthly_usage').text(formatCurrency(ConvertMinute(post.monthlyUsage)));
                                    $(newRow).find('.cell_daliy_usage').text(formatCurrency(ConvertMinute(post.daliyUsage)));

                                    $('#satellite-usage tbody').append(newRow);

                                    threshold = post.time;
                                });

                                AnnualChart(companyNo, threshold);
                                MonthlyChart(companyNo);
                            }
                        }

                        scrollTable();
                    },
                    error: function (xhr, status, error) {
                        var newRow = '<tr><td colspan="6"><%=t("message(request failed)")%></td></tr>';
                        $('#satellite-usage').append(newRow);
                    },
                });
            });
            
            var ClearUsage = function() {
                const rows = document.querySelectorAll(".satellite-usage tbody tr:not(:first-child)");
                rows.forEach(row => {
                    row.remove();
                });
            }
            
            var ClearCompany = function() {
                const rows = document.querySelectorAll(".company tbody tr:not(:first-child)");
                rows.forEach(row => {
                    row.remove();
                });
            }

            var AnnualChart = function (companyNo, threshold) {
                let months = getLast12Months();
                let usage = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
                let chart = document.getElementById('annualBarChart').getContext('2d');

                $.ajax({
                    url: "../user/dashboard/annualSatelliteUsageByUser",
                    method: "POST",
                    dataType: 'json',
                    data: {
                        companyNo: companyNo,
                    },
                    success: function (data) {
                        if (data === 'NO SESSION') {
                            alert("<%=t('message(session expires)')%>");
                            window.parent.location.href = "./login";
                        } else if (data === 'NO DATA') {
                            months = getLast12Months();
                            usage = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
                        } else {
                            if (Array.isArray(data)) {
                                $.each(data, function(index, post) {
                                    for (let i = 0; i < months.length; i++) {
                                        if (months[i] === post.period) {
                                            usage[i] = ConvertMinute(post.usage);
                                        }
                                    }
                                });
                            }
                        }

                        new Chart(chart, {
                            type: 'bar',
                            data: {
                                labels: months,
                                datasets: [{
                                    label: "<%=t('last 12 months')%>",
                                    data: usage,
                                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                    borderColor: 'rgba(75, 192, 192, 1)',
                                    borderWidth: 1,
                                }],
                            },
                            options: {
                                responsive: true,
                                plugins: {
                                    legend: {
                                        position: 'top',
                                    },
                                    annotation: {
                                        annotations: {
                                            thresholdLine: {
                                                type: 'line',
                                                yMin: threshold,
                                                yMax: threshold,
                                                borderColor: 'red',
                                                borderWidth: 1,
                                                label: {
                                                    enabled: true,
                                                    content: `Threshold: ${threshold}`,
                                                    position: 'start',
                                                    color: 'red',
                                                },
                                            },
                                        },
                                    },
                                },
                                scales: {
                                    y: {
                                        beginAtZero: true,
                                    },
                                },
                            },
                        });
                    },
                    error: function (xhr, status, error) {
                        new Chart(chart, {
                            type: 'bar',
                            data: {
                                labels: months,
                                datasets: [{
                                    label: "<%=t('last 12 months')%>",
                                    data: usage,
                                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                    borderColor: 'rgba(75, 192, 192, 1)',
                                    borderWidth: 1,
                                }],
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true,
                                    },
                                },
                            },
                        });
                    },
                });
            }

            var MonthlyChart = function(companyNo) {
                let days = getLast15Days();
                let usage = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
                let chart = document.getElementById('monthlyBarChart').getContext('2d');

                $.ajax({
                    url: "../user/dashboard/monthlySatelliteUsageByUser",
                    method: "POST",
                    dataType: 'json',
                    data: {
                        companyNo: companyNo,
                    },
                    success: function (data) {
                        if (data === 'NO SESSION') {
                            alert("<%=t('message(session expires)')%>");
                            window.parent.location.href = "./login";
                        } else if (data === 'NO DATA') {
                            days = getLast15Days();
                            usage = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
                        } else {
                            if (Array.isArray(data)) {
                                $.each(data, function(index, post) {
                                    for (let i = 0; i < days.length; i++) {
                                        if (days[i] === post.period) {
                                            usage[i] = ConvertMinute(post.usage);
                                        }
                                    }
                                });
                            }
                        }

                        new Chart(chart, {
                            type: 'bar',
                            data: {
                                labels: days,
                                datasets: [{
                                    label: "<%=t('last 15 days')%>",
                                    data: usage,
                                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                    borderColor: 'rgba(75, 192, 192, 1)',
                                    borderWidth: 1,
                                }],
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true,
                                    },
                                },
                            },
                        });
                    },
                    error: function (xhr, status, error) {
                        new Chart(chart, {
                            type: 'bar',
                            data: {
                                labels: days,
                                datasets: [{
                                    label: "<%=t('last 15 days')%>",
                                    data: usage,
                                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                    borderColor: 'rgba(75, 192, 192, 1)',
                                    borderWidth: 1,
                                }],
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true,
                                    },
                                },
                            },
                        });
                    },
                });
            }
        </script>
    </head>
    <body>
        <form class="home-form" class="container">
            <input type="hidden" id="company_no" value="<%= session.user.companyNo %>"/>
            <input type="hidden" id="account_no" value="<%= session.user.accountNo %>"/>
            <div class="contents">
                <div class="contents-item">
                    <div class="title"><%=t('total slink usage')%></div>
                    <table class="status-table">
                        <thead class="status-thead">
                            <tr>
                                <th width="180px"><%=t('name of plan')%></th>
                                <th width="120px"><%=t('service time')%></th>
                                <th width="120px"><%=t('total users')%></th>
                                <th width="120px"><%=t('total usage')%></th>
                                <th width="120px"><%=t('annual usage')%></th>
                                <th width="120px"><%=t('monthly usage')%></th>
                                <th width="120px"><%=t('daily usage')%></th>
                            </tr>
                        </thead>
                    </table>
                    <div class="scrollable-tbody" style="max-height: 500px;">
                        <table id="satellite-usage" class="status-table">
                            <tbody class="status-tbody">
                                <tr class="hidden">
                                    <td width="180px" class="cell_plan_name" style="text-align: left;"></td>
                                    <td width="120px" class="cell_time" style="text-align: right;"></td>
                                    <td width="120px" class="cell_total_users" style="text-align: right;"></td>
                                    <td width="120px" class="cell_total_usage" style="text-align: right;"></td>
                                    <td width="120px" class="cell_annual_usage" style="text-align: right;"></td>
                                    <td width="120px" class="cell_monthly_usage" style="text-align: right;"></td>
                                    <td width="120px" class="cell_daliy_usage" style="text-align: right;"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="contents-item">
                    <div id="charts" class="charts" style="text-align: center;">
                        <div class="chart_content"><canvas id="annualBarChart" width="520" height="200"></canvas></div></br></br>
                        <div class="chart_content"><canvas id="monthlyBarChart" width="520" height="200"></canvas></div>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>
