<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/public/css/content-styles.css">
        <!--
        <link rel="stylesheet" media="screen and (max-width: 600px)" href="/public/css/styles-small.css">
        <link rel="stylesheet" media="screen and (min-width: 601px) and (max-width: 1024px)" href="/public/css/styles-medium.css">
        <link rel="stylesheet" media="screen and (min-width: 1025px) and (max-width: 2560px)" href="/public/css/styles-large.css">
        -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
        <script src="/public/js/common/common_variables.js"></script>
        <script src="/public/js/common/common_utility.js"></script>
        <script>
            $(document).ready(function() {
                var companyNo = $('.company_no').val();

                $.ajax({
                    url: "../user/dashboard/userSatelliteUsage",
                    method: "POST",
                    dataType: 'json',
                    data: {
                        companyNo: companyNo,
                    },
                    success: function (data) {
                        ClearUsage();

                        if (data === 'NO SESSION') {
                            alert("<%=t('message(session expires)')%>");
                            window.parent.location.href = "./login";
                        } else if (data === 'NO DATA') {
                            var newRow = '<tr><td colspan="4"><%=t("message(no data)")%></td></tr>';
                            $('.satellite-usage').append(newRow);
                        } else {
                            if (Array.isArray(data)) {
                                $.each(data, function(index, post) {
                                    var newRow = $('.satellite-usage tbody tr').first().clone().removeClass('hidden');

                                    $(newRow).find('.cell_total_companys').text(post.totalContracts);
                                    $(newRow).find('.cell_total_users').text(post.totalUsers);
                                    $(newRow).find('.cell_daliy_usage').text(formatCurrency(post.daliyUsage));
                                    $(newRow).find('.cell_monthly_usage').text(formatCurrency(post.monthlyUsage));

                                    $('.satellite-usage tbody').append(newRow);
                                });
                            }
                        }
                    },
                    error: function (xhr, status, error) {
                        var newRow = '<tr><td colspan="4"><%=t("message(request failed)")%></td></tr>';
                        $('.satellite-usage').append(newRow);
                    },
                });
                
                $.ajax({
                    url: "../user/dashboard/company",
                    method: "POST",
                    dataType: 'json',
                    data: {
                        companyNo: companyNo,
                    },
                    success: function (data) {
                        ClearCompany();

                        if (data === 'NO SESSION') {
                            alert("<%=t('message(session expires)')%>");
                            window.parent.location.href = "./login";
                        } else if (data === 'NO DATA') {
                            var newRow = '<tr><td colspan="7" class="left-align"><%=t("message(no data)")%></td></tr>';
                            $('.company').append(newRow);
                        } else {
                            if (Array.isArray(data)) {
                                $.each(data, function(index, post) {
                                    var newRow = $('.company tbody tr').first().clone().removeClass('hidden');

                                    $(newRow).find('.cell_company_no').text(post.companyNo);
                                    $(newRow).find('.cell_company_name').text(post.companyName);
                                    $(newRow).find('.cell_owner_name').text(post.ownerName);
                                    $(newRow).find('.cell_company_div').text(companyDivs[post.companyDiv]);
                                    $(newRow).find('.cell_telephone').text(getTelephone(post.nationCode, post.telephone));
                                    $(newRow).find('.cell_total_licenses').text(post.totalLicenses);
                                    $(newRow).find('.cell_total_users').text(post.totalUsers);

                                    $('.company tbody').append(newRow);
                                });
                            }
                        }
                    },
                    error: function (xhr, status, error) {
                        var newRow = '<tr><td colspan="7" class="left-align"><%=t("message(request failed)")%></td></tr>';
                        $('.company').append(newRow);
                    },
                });
            });
            
            var ClearUsage= function() {
                const rows = document.querySelectorAll(".satellite-usage tbody tr:not(:first-child)");
                rows.forEach(row => {
                    row.remove();
                });
            }
            
            var ClearCompany = function() {
                const rows = document.querySelectorAll(".company tbody tr:not(:first-child)");
                rows.forEach(row => {
                    row.remove();
                });
            }
        </script>
    </head>
    <body>
        <form class="home-form" class="container">
            <input type="hidden" class="company_no" value="<%= session.user.companyNo %>"/>
            <input type="hidden" class="account_no" value="<%= session.user.accountNo %>"/>
            <div class="content">
                <div>
                    <div class="title"><%=t('total slink usage')%></div>
                    <div>
                        <table class="satellite-usage">
                            <thead>
                                <tr>
                                    <th width="200px"><%=t('total contracts')%></th>
                                    <th width="200px"><%=t('total users')%></th>
                                    <th width="200px"><%=t('daily usage')%></th>
                                    <th width="200px"><%=t('monthly usage')%></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="hidden">
                                    <td class="cell_total_companys" style="text-align: right;"></td>
                                    <td class="cell_total_users" style="text-align: right;"></td>
                                    <td class="cell_daliy_usage" style="text-align: right;"></td>
                                    <td class="cell_monthly_usage" style="text-align: right;"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div></br></br></br>
                <div>
                    <div class="title"><%=t('company information')%></div>
                    <div>
                        <table class="company">
                            <thead>
                                <tr>
                                    <th width="100px"><%=t('company number')%></th>
                                    <th width="240px"><%=t('corporation name')%></th>
                                    <th width="220px"><%=t('representative name')%></th>
                                    <th width="120px"><%=t('company classification')%></th>
                                    <th width="160px"><%=t('country')%></th>
                                    <th width="160px"><%=t('license count')%></th>
                                    <th width="120px"><%=t('user count')%></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="hidden">
                                    <td class="cell_company_no" style="text-align: center;"></td>
                                    <td class="cell_company_name"></td>
                                    <td class="cell_owner_name" style="text-align: center;"></td>
                                    <td class="cell_company_div" style="text-align: center;"></td>
                                    <td class="cell_telephone" style="text-align: center;"></td>
                                    <td class="cell_total_licenses" style="text-align: right;"></td>
                                    <td class="cell_total_users" style="text-align: right;"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>
