<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/public/css/content-styles.css">
        <!--
        <link rel="stylesheet" media="screen and (max-width: 600px)" href="/public/css/styles-small.css">
        <link rel="stylesheet" media="screen and (min-width: 601px) and (max-width: 1024px)" href="/public/css/styles-medium.css">
        <link rel="stylesheet" media="screen and (min-width: 1025px) and (max-width: 2560px)" href="/public/css/styles-large.css">
        -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
        <script src="/public/js/common/common_utility.js"></script>
        <script src="/public/js/common/<%= i18n.language %>/common_variables.js"></script>
        <script>
            $(document).ready(function() {
                var contracts = [];
                
                var searchContract = function() {
                    clearContract();

                    var companyNo = $('.s_company_no').val();
                    if (companyNo === '') {
                        alert("<%=t('message(select client company)')%>");
                        return;
                    }

                    $.ajax({
                        url: "../user/contract/codes",
                        method: "POST",
                        data: {
                            companyNo: companyNo,
                        },
                        success: function (data) {
                            if (data === 'NO SESSION') {
                                alert("<%=t('message(session expires)')%>");
                                window.parent.location.href = "./login";
                            } else if (data === 'NO DATA') {
                                alert("<%=t('message(no data)')%>");
                            } else {
                                contracts = [];
                                if (Array.isArray(data)) {
                                    $.each(data, function(index, post) {
                                        if (post.contractDiv === 'D' || post.contractDiv === 'A')
                                            return;

                                        contracts.push({
                                            code:post.contractNo, 
                                            name:post.contractName, 
                                            startDate:post.startDate,
                                            endDate:post.endDate
                                        });
                                    });

                                    createSelection($('.s_contract_no'), contracts, "<%=t('select')%>");
                                }
                            }
                        },
                        error: function (xhr, status, error) {
                            alert("<%=t('message(request failed)')%>");
                        },
                    });
                }

                var search = function() {
                    clearContractCancel();

                    var contractNo = $('.s_contract_no option:selected').val();
                    if (contractNo === '')
                    {
                        alert("<%=t('message(select contract number)')%>");
                        return;
                    }

                    $.ajax({
                        url: "../user/contract/cancel/status",
                        method: "POST",
                        data: {
                            contractNo: contractNo,
                        },
                        success: function (data) {

                            if (data === 'NO SESSION') {
                                alert("<%=t('message(session expires)')%>");
                                window.parent.location.href = "./login";
                            } else if (data === 'NO DATA') {
                                var newRow = '<tr><td colspan="6" class="left-align"><%=t("message(no data)")%></td></tr>';
                                $('.contract_cancel tbody').append(newRow);
                            } else {
                                if (Array.isArray(data)) {
                                    $.each(data, function(index, post) {
                                        var newRow = $('.contract_cancel tbody tr').first().clone().removeClass('hidden');

                                        $(newRow).find('.cell_seq').text(post.seq);
                                        $(newRow).find('.cell_reason').text(contractCancelReason[post.reason]);
                                        $(newRow).find('.cell_request_date').text(post.requestDate);
                                        $(newRow).find('.cell_approval_date').text(post.approvalDate);
                                        $(newRow).find('.cell_cancel_date').text(post.cancelDate);
                                        $(newRow).find('.cell_status').text(contractCancelStatus[post.status]);

                                        $('.contract_cancel tbody').append(newRow);
                                    });
                                }
                            }
                        },
                        error: function (xhr, status, error) {
                            var newRow = '<tr><td colspan="6" class="left-align"><%=t("message(request failed)")%></td></tr>';
                            $('.contract_cancel tbody').append(newRow);
                        },
                    });
                };

                $('.add').click(function() {
                    clearModal();

                    var contractNo = $('.s_contract_no option:selected').val();
                    if (contractNo === '')
                    {
                        alert("<%=t('message(select contract number)')%>");
                        return;
                    }

                    var today = new Date();
                    var yyyy = today.getFullYear();
                    var mm = ('0' + (today.getMonth() + 1)).slice(-2);
                    var dd = ('0' + today.getDate()).slice(-2);
                    var formattedDate = yyyy + '-' + mm + '-' + dd;

                    $('.contract_no').val(contractNo);
                    $('.request_date').val(formattedDate);
                    $('.status').val("1");
                    $('.modal').show();
                });

                $('.modify').click(function() {
                    clearModal();

                    var contractNo = $('.s_contract_no').val();
                    if (contractNo === '')
                    {
                        alert("<%=t('message(select client company)')%>");
                        return;
                    }

                    var selectedRow = $(".contract_cancel tr.selected");
                    if (selectedRow.length > 0) {
                        var seq = selectedRow.find('.cell_seq').text();

                        // 행 데이터 출력
                        $.ajax({
                            url: "../user/contract/cancel/detail",
                            method: "POST",
                            data: {
                                contractNo: contractNo,
                                seq: seq,
                            },
                            success: function (data) {
                                if (data === 'NO SESSION') {
                                    alert("<%=t('message(session expires)')%>");
                                    window.parent.location.href = "./login";
                                } else if (data === 'NO DATA') {
                                    alert("<%=t('message(no data)')%>");
                                } else {

                                    $('.contract_no').val(data.contractNo);
                                    $('.seq').val(data.seq);
                                    $('.reason').val(data.reason);
                                    $('.contents').val(data.contents);
                                    $('.request_date').val(data.request_date);
                                    $('.status').val(data.status);

                                    $('.modal').show();
                                }
                            },
                            error: function (xhr, status, error) {
                               alert("<%=t('message(request failed)')%>");
                            },
                        });
                    } else {
                        alert("<%=t('message(select row)')%>");
                    }
                });

                $('.delete').click(function() {
                    clearModal();

                    var contractNo = $('.s_contract_no').val();
                    if (contractNo === '')
                    {
                        alert("<%=t('message(select client company)')%>");
                        return;
                    }

                    var selectedRow = $(".contract_cancel tr.selected");
                    if (selectedRow.length > 0) {
                        if (confirm("<%=t('message(delete data)')%>") == true)
                        {
                            var userNos = [];

                            seqs.push({
                                contractNo: contractNo,
                                seq: selectedRow.find('.cell_seq').text()
                            });

                            // 행 데이터 출력
                            $.ajax({
                                url: "../user/contract/cancel/delete",
                                method: "POST",
                                data: {
                                    seqs: seqs,
                                },
                                success: function (data) {
                                    if (data === 'NO SESSION') {
                                        alert("<%=t('message(session expires)')%>");
                                        window.parent.location.href = "./login";
                                    } else if (data === 'FAIL') {
                                        alert("<%=t('message(delete failed)')%>");
                                    } else {
                                        alert("<%=t('message(delete success)')%>");

                                        search();
                                    }
                                },
                                error: function (xhr, status, error) {
                                alert("<%=t('message(request failed)')%>");
                                },
                            });
                        }
                    } else {
                        alert("<%=t('message(select row)')%>");
                    }
                });

                $('.contract_cancel tbody').on('click', 'tr', function() {
                    $(this).addClass('selected').siblings().removeClass('selected');
                });

                var clearContractCancel = function() {
                    const rows = document.querySelectorAll(".contract_cancel tbody tr:not(:first-child)");
                    rows.forEach(row => {
                        row.remove();
                    });
                }

                // Modal Event And Function
                var clearModal = function() {
                    $('.contract_no').val('');
                    $('.seq').val('');
                    $('.reason').val('');
                    $('.contents').val('');
                    $('.status').val('');
                };

                var clearContract = function() {
                    $('.s_contract_no').empty();
                
                    // Add default option
                    $('.s_contract_no').append($('<option>', {
                        value: '',
                        text: "<%=t('select')%>"
                    }));
                }

                var validationCheck = function() {
                    if ($('.reason option:selected').val() === '') {
                        alert("<%=t('message(select reason for cancellation)')%>");
                        return false;
                    }

                    if ($('.contents').val() === '') {
                        alert("<%=t('message(enter cancellation details)')%>");
                        return false;
                    }

                    return true;
                }

                $('.s_contract_no').change(function() {
                    var contractNo = $('.s_contract_no option:selected').val();
                    if (contractNo === '') {
                        alert("<%=t('message(select contract number)')%>");
                        return;
                    }

                    search();
                });

                $('.close').click(function() {
                    $('.modal').hide();
                    clearModal();
                });

                $('.save').click(function() {
                    if (confirm("<%=t('message(save data)')%>")) {
                        if (!validationCheck()) {
                            return;
                        }

                        var contractNo = $('.contract_no').val();
                        var seq = $('.seq').val();
                        var reason = $('.reason option:selected').val();
                        var contents = $('.contents').val();
                        var status = $('.status option:selected').val();

                        var url = "../user/contract/cancel/insert";
                        if (seq === ''){
                            url = "../user/contract/cancel/insert";
                        } else {
                            url = "../user/contract/cancel/update";
                        }

                        $.ajax({
                            url: url,
                            method: "POST",
                            data: {
                                contractNo: contractNo,
                                seq: seq,
                                reason: reason,
                                contents: contents,
                                status: status,
                            },
                            success: function (data) {
                                switch (data) {
                                    case "NO SESSION":
                                        alert("<%=t('message(session expires)')%>");
                                        window.parent.location.href = "./login";
                                        return;
                                    case "FAIL":
                                        alert("<%=t('message(save failed)')%>");
                                        return;
                                    case "SUCCESS":
                                        alert("<%=t('message(save success)')%>");
                                        break;
                                }

                                $('.modal').hide();
                                search();
                                
                                clearModal();
                            },
                            error: function (xhr, status, error) {
                                alert("<%=t('message(request failed)')%>");
                            },
                        });
                    }
                });

                $('.cancel').click(function() {
                    if (confirm("<%=t('message(input cancel)')%>") == true)
                    {
                        $('.modal').hide();
                        clearModal();
                    }
                });
                
                createVariablesSelection($('.reason'), contractCancelReason, "<%=t('select')%>");
                createVariablesSelection($('.status'), contractCancelStatus, "<%=t('select')%>");

                searchContract();
            });
        </script>
    </head>
    <body>
        <form class="contract-customer-status-form">
            <div class="contents">
                <div>
                    <div class="title"><%=t('search conditions')%></div>
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th width="120px" class="right-align"><%=t('contract number')%></th>
                                    <td class="left-align">
                                        <input type="hidden" class="s_company_no" value="<%=session.user.companyNo%>"/>
                                        <select class="s_contract_no" style="width:320px;">
                                            <option value=""><%=t('choose')%></option>
                                        </select>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div></br></br>
                <div class="contents-container">
                    <div class="title"><%=t('list of contract termination applications')%></div>
                    <div class="top-right-button">
                        <div class="align-container">
                            <p><input type="button" class="add" value="<%=t('regist')%>"/></p>
                            <p><input type="button" class="modify" value="<%=t('modify')%>"/></p>
                            <p><input type="button" class="delete" value="<%=t('delete')%>"/></p>
                        </div>
                    </div>
                    <div>
                        <table class="contract_cancel">
                            <thead>
                                <tr>
                                    <th width="100px"><%=t('sequential number')%></th>
                                    <th width="260px"><%=t('reasons termination')%></th>
                                    <th width="160px"><%=t('request date')%></th>
                                    <th width="160px"><%=t('approval date')%></th>
                                    <th width="160px"><%=t('cancellation date')%></th>
                                    <th width="120px"><%=t('status')%></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="hidden">
                                    <td class="cell_seq" style="text-align: center;"></td>
                                    <td class="cell_reason" style="text-align: left;"></td>
                                    <td class="cell_request_date" style="text-align: center;"></td>
                                    <td class="cell_approval_date" style="text-align: center;"></td>
                                    <td class="cell_cancel_date" style="text-align: center;"></td>
                                    <td class="cell_status" style="text-align: center;"></td>
                                </tr>
                                <tr>
                                    <td colspan="6"><%=t('message(search data)')%></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
        <div class="modal">
            <div class="modal-contents" style="width:570px">
                <div class="contents-container">
                    <span class="close">&times;</span>
                    <div class="title"><%=t('termination of a contract')%></div>
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th class="right-align" style="width: 150px;">*<%=t('contract number')%></th>
                                    <td class="left-align" style="width: 420px;">
                                        <input type="text" class="contract_no" style="width: 200px;" readonly/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('sequential number')%></th>
                                    <td class="left-align">
                                        <input type="text" class="seq" style="width: 120px;" readonly/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('reasons termination')%></th>
                                    <td class="left-align">
                                        <select class="reason"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('details of termination')%></th>
                                    <td class="left-align">
                                        <textarea class="contents" style="width: 420px; height:160px;"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('request date')%></th>
                                    <td class="left-align">
                                        <input type="date" class="request_date" style="width: 120px;" readonly/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('status')%></th>
                                    <td class="left-align">
                                        <select class="status" style="pointer-events: none;"></select>
                                    </td>
                                </tr>
                            </thead>
                        </table></br>
                    </div></br>
                    <div class="bottom-button">
                        <div class="align-container">
                            <p><input type="button" class="save" value="<%=t('save')%>"/></p>
                            <input type="button" class="cancel" value="<%=t('cancel')%>"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
