<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/public/css/content-styles-figma.css">
        <!--
        <link rel="stylesheet" media="screen and (max-width: 600px)" href="/public/css/styles-small.css">
        <link rel="stylesheet" media="screen and (min-width: 601px) and (max-width: 1024px)" href="/public/css/styles-medium.css">
        <link rel="stylesheet" media="screen and (min-width: 1025px) and (max-width: 2560px)" href="/public/css/styles-large.css">
        -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
        <script src="/public/js/common/common_utility.js"></script>
        <script src="/public/js/common/<%= i18n.language %>/common_variables.js"></script>
        <script>
            $(document).ready(function() {
                var companys = [];
                var contracts = [];

                $.ajax({
                    url: "../admin/company/codes",
                    method: "POST",
                    success: function (data) {
                        if (data === 'NO SESSION') {
                            alert("<%=t('message(session expires)')%>");
                            window.parent.location.href = "./login";
                        } else if (data === 'NO DATA') {
                            alert("<%=t('message(no data)')%>");
                        } else {
                            if (Array.isArray(data)) {
                                $.each(data, function(index, post) {
                                    companys.push({
                                        code:post.companyNo, 
                                        name:post.companyName, 
                                        domain:post.domainAddr
                                    });
                                });

                                createSelection($('#s_company_no'), companys, "<%=t('select')%>");
                            }
                        }
                    },
                    error: function (xhr, status, error) {
                        alert("<%=t('message(request failed)')%>");
                    },
                });
                
                var search = function() {
                    clearContractManager();

                    var contractNo = $('#s_contract_no option:selected').val();
                    if (contractNo === '')
                    {
                        alert("<%=t('message(select contract number)')%>");
                        return;
                    }

                    $.ajax({
                        url: "../admin/contract/manager/status",
                        method: "POST",
                        data: {
                            contractNo: contractNo,
                        },
                        success: function (data) {

                            if (data === 'NO SESSION') {
                                alert("<%=t('message(session expires)')%>");
                                window.parent.location.href = "./login";
                            } else if (data === 'NO DATA') {
                                var newRow = '<tr><td colspan="5" class="left-align"><%=t("message(no data)")%></td></tr>';
                                $('#contract_manager tbody').append(newRow);
                            } else {
                                if (Array.isArray(data)) {
                                    $.each(data, function(index, post) {
                                        var newRow = $('#contract_manager tbody tr').first().clone().removeClass('hidden');

                                        $(newRow).find('#cell_seq').text(post.seq);
                                        $(newRow).find('#cell_name').text(post.name);
                                        $(newRow).find('#cell_email').text(post.email);
                                        $(newRow).find('#cell_user_auth').text(managerAuths[post.userAuth]);
                                        $(newRow).find('#cell_use_yn').text(useYn[post.useYn]);

                                        $('#contract_manager tbody').append(newRow);
                                    });
                                }
                            }
                            scrollTable();
                        },
                        error: function (xhr, status, error) {
                            var newRow = '<tr><td colspan="9" class="left-align"><%=t("message(request failed)")%></td></tr>';
                            $('#contract_manager tbody').append(newRow);
                        },
                    });
                };

                $('#add').click(function() {
                    clearModal();

                    var companyNo = $('#s_company_no option:selected').val();
                    if (companyNo === '')
                    {
                        alert("<%=t('message(select company number)')%>");
                        return;
                    }

                    var contractNo = $('#s_contract_no option:selected').val();
                    if (contractNo === '')
                    {
                        alert("<%=t('message(select contract number)')%>");
                        return;
                    }

                    var foundCompany = companys.find(function(company) {
                        return company.code == companyNo;
                    });

                    $('#contract_no').val(contractNo);
                    $('#domain_addr').val(foundCompany.domain);
                    $('#user_id').removeAttr('readonly');
                    $('#pwd').removeAttr('readonly');
                    $('#check_pwd').removeAttr('readonly');
                    $('#change_password').hide();
                    $('.modal').show();
                });

                $('#modify').click(function() {
                    clearModal();

                    var contractNo = $('#s_contract_no').val();
                    if (contractNo === '')
                    {
                        alert("<%=t('message(select client company)')%>");
                        return;
                    }

                    var selectedRow = $('#contract_manager tr.selected');
                    if (selectedRow.length > 0) {
                        var seq = selectedRow.find('#cell_seq').text();

                        // 행 데이터 출력
                        $.ajax({
                            url: "../admin/contract/manager/detail",
                            method: "POST",
                            data: {
                                contractNo: contractNo,
                                seq: seq,
                            },
                            success: function (data) {
                                if (data === 'NO SESSION') {
                                    alert("<%=t('message(session expires)')%>");
                                    window.parent.location.href = "./login";
                                } else if (data === 'NO DATA') {
                                    alert("<%=t('message(no data)')%>");
                                } else {
                                    var emailSplit = data.email.split("@");

                                    $('#contract_no').val(data.contractNo);
                                    $('#seq').val(data.seq);
                                    $('#user_id').val(data.userId);
                                    $('#user_id_copy').val(emailSplit[0]);
                                    $('#domain_addr').val(emailSplit[1]);
                                    $('#pwd').val(data.pwd);
                                    $('#pwd').attr('readonly', true);
                                    $('#check_pwd').val(data.pwd);
                                    $('#check_pwd').attr('readonly', true);
                                    $('#name').val(data.name);
                                    $('#user_auth').val(data.userAuth);
                                    $('#use_yn').val(data.useYn);
                                    $('#change_password').show();

                                    $('.modal').show();
                                }
                            },
                            error: function (xhr, status, error) {
                               alert("<%=t('message(request failed)')%>");
                            },
                        });
                    } else {
                        alert("<%=t('message(select row)')%>");
                    }
                });

                $('#delete').click(function() {
                    clearModal();

                    var contractNo = $('#s_contract_no').val();
                    if (contractNo === '')
                    {
                        alert("<%=t('message(select client company)')%>");
                        return;
                    }

                    var selectedRow = $('#contract_manager tr.selected');
                    if (selectedRow.length > 0) {
                        if (confirm("<%=t('message(delete data)')%>") == true)
                        {
                            var seqs = [];

                            seqs.push({
                                contractNo: contractNo,
                                seq: selectedRow.find('#cell_seq').text()
                            });

                            // 행 데이터 출력
                            $.ajax({
                                url: "../admin/contract/manager/delete",
                                method: "POST",
                                data: {
                                    seqs: seqs,
                                },
                                success: function (data) {
                                    if (data === 'NO SESSION') {
                                        alert("<%=t('message(session expires)')%>");
                                        window.parent.location.href = "./login";
                                    } else if (data === 'FAIL') {
                                        alert("<%=t('message(delete failed)')%>");
                                    } else {
                                        alert("<%=t('message(delete success)')%>");

                                        search();
                                    }
                                },
                                error: function (xhr, status, error) {
                                alert("<%=t('message(request failed)')%>");
                                },
                            });
                        }
                    } else {
                        alert("<%=t('message(select row)')%>");
                    }
                });

                $('#contract_manager tbody').on('click', 'tr', function() {
                    $(this).addClass('selected').siblings().removeClass('selected');
                });

                var clearContractManager = function() {
                    const rows = document.querySelectorAll("#contract_manager tbody tr:not(:first-child)");
                    rows.forEach(row => {
                        row.remove();
                    });
                }

                // Modal Event And Function
                var clearModal = function() {
                    $('#contract_no').val('');
                    $('#seq').val('');
                    $('#user_id').val('');
                    $('#user_id_copy').val('');
                    $('#domain_addr').val('');
                    $('#pwd').val('');
                    $('#check_pwd').val('');
                    $('#name').val('');
                    $('#user_auth').val('');
                    $('#use_yn').val('');
                };

                var clearPasswordModal = function() {
                    $('#new_pwd').val('');
                    $('#check_new_pwd').val('');
                }

                var clearContract = function() {
                    $('#s_contract_no').empty();
                
                    // Add default option
                    $('#s_contract_no').append($('<option>', {
                        value: '',
                        text: "<%=t('select')%>"
                    }));
                }

                var validationCheck = function() {
                    if ($('#user_id').val() === '') {
                        alert("<%=t('message(enter id)')%>");
                        return false;
                    }

                    if ($('#pwd').val() === '') {
                        alert("<%=t('message(enter password)')%>");
                        return false;
                    }

                    if ($('#check_pwd').val() === '') {
                        alert("<%=t('message(enter password check)')%>");
                        return false;
                    }

                    if ($('#pwd').val() !== $('#check_pwd').val()) {
                        alert("<%=t('message(enter password not match)')%>");
                        return false;
                    }

                    if ($('#name').val() === '') {
                        alert("<%=t('message(enter administrator name)')%>");
                        return false;
                    }

                    if ($('#user_auth').val() === '') {
                        alert("<%=t('message(enter permission)')%>");
                        return false;
                    }

                    if ($('#use_yn').val() === '') {
                        alert("<%=t('message(enter use)')%>");
                        return false;
                    }

                    return true;
                }

                $('#s_company_no').change(function() {
                    clearContract();

                    var companyNo = $('#s_company_no option:selected').val();
                    if (companyNo === '') {
                        alert("<%=t('message(select client company)')%>");
                        return false;
                    }

                    $.ajax({
                        url: "../admin/contract/codes",
                        method: "POST",
                        data: {
                            companyNo: companyNo,
                        },
                        success: function (data) {
                            if (data === 'NO SESSION') {
                                alert("<%=t('message(session expires)')%>");
                                window.parent.location.href = "./login";
                            } else if (data === 'NO DATA') {
                                alert("<%=t('message(no data)')%>");
                            } else {
                                contracts = [];
                                if (Array.isArray(data)) {
                                    $.each(data, function(index, post) {
                                        contracts.push({
                                            code:post.contractNo, 
                                            name:post.contractName, 
                                            contractDiv:post.contractDiv,
                                            startDate:post.startDate,
                                            endDate:post.endDate
                                        });
                                    });

                                    createSelection($('#s_contract_no'), contracts, "<%=t('select')%>");
                                }
                            }
                        },
                        error: function (xhr, status, error) {
                            alert("<%=t('message(request failed)')%>");
                        },
                    });
                });

                $('#s_contract_no').change(function() {
                    search();
                });
                
                $('#user_id').change(function() {
                    $('#user_id_copy').val($('#user_id').val());
                });

                $('#close').click(function() {
                    $('.modal').hide();
                    clearModal();
                });

                $('#save').click(function() {
                    if (confirm("<%=t('message(save data)')%>")) {
                        if (!validationCheck()) {
                            return;
                        }

                        var contractNo = $('#contract_no').val();
                        var seq = $('#seq').val();
                        var userId = $('#user_id').val();
                        var email = `${$('#user_id_copy').val()}@${$('#domain_addr').val()}`;
                        var pwd = $('#pwd').val();
                        var name = $('#name').val();
                        var userAuth = $('#user_auth').val();
                        var useYn = $('#use_yn').val();

                        var url = "../admin/contract/manager/insert";
                        if (seq === ''){
                            url = "../admin/contract/manager/insert";
                        } else {
                            url = "../admin/contract/manager/update";
                        }

                        $.ajax({
                            url: url,
                            method: "POST",
                            data: {
                                contractNo: contractNo,
                                seq: seq,
                                userId: userId,
                                email: email,
                                pwd: pwd,
                                name: name,
                                userAuth: userAuth,
                                useYn: useYn,
                            },
                            success: function (data) {
                                switch (data) {
                                    case "NO SESSION":
                                        alert("<%=t('message(session expires)')%>");
                                        window.parent.location.href = "./login";
                                        return;
                                    case "EMAIL DUPLICATE":
                                        alert("<%=t('message(enter email duplicated)')%>");
                                        return;
                                    case "FAIL":
                                        alert("<%=t('message(save failed)')%>");
                                        return;
                                    case "SUCCESS":
                                        alert("<%=t('message(save success)')%>");
                                        break;
                                }

                                $('.modal').hide();
                                search();
                                
                                clearModal();
                            },
                            error: function (xhr, status, error) {
                                alert("<%=t('message(request failed)')%>");
                            },
                        });
                    }
                });

                $('#cancel').click(function() {
                    if (confirm("<%=t('message(input cancel)')%>") == true)
                    {
                        $('.modal').hide();
                        clearModal();
                    }
                });

                $('#change_password').click(function() {
                    $('.password_modal').show();
                });

                $('#password_close').click(function() {
                    clearPasswordModal();

                    $('.password_modal').hide();
                });

                $('#password_save').click(function() {
                    if (confirm("<%=t('message(save data)')%>")) {
                        var contractNo = $('#contract_no').val();
                        var seq = $('#seq').val();
                        var oldPwd = $('#pwd').val();
                        var newPwd = $('#new_pwd').val();
                        var checkPwd = $('#check_new_pwd').val();

                        if (newPwd === '') {
                            alert("<%=t('message(enter new password)')%>");
                            return;
                        }
                        
                        if (checkPwd === '') {
                            alert("<%=t('message(enter password check)')%>");
                            return;
                        }
                        
                        if (newPwd !== checkPwd) {
                            alert("<%=t('message(enter password not match)')%>");
                            return;
                        }
                        
                        if (newPwd === oldPwd) {
                            alert("<%=t('message(enter pervious same password)')%>");
                            return;
                        }

                        $.ajax({
                            url: "../admin/contract/manager/changePassword",
                            method: "POST",
                            data: {
                                contractNo: contractNo,
                                seq: seq,
                                pwd: newPwd,
                            },
                            success: function (data) {
                                switch (data) {
                                    case "NO SESSION":
                                        alert("<%=t('message(session expires)')%>");
                                        window.parent.location.href = "./login";
                                        return;
                                    case "FAIL":
                                        alert("<%=t('message(save failed)')%>");
                                        return;
                                    case "SUCCESS":
                                        $('.pwd').val(newPwd);
                                        $('.check_pwd').val(checkPwd);
                                        
                                        alert("<%=t('message(save success)')%>");
                                        break;
                                }

                                $('.password_modal').hide();
                                
                                clearPasswordModal();
                            },
                            error: function (xhr, status, error) {
                                alert("<%=t('message(request failed)')%>");
                            },
                        });
                    }
                });

                $('#password_cancel').click(function() {
                    if (confirm("<%=t('message(input cancel)')%>") == true)
                    {
                        $('.password_modal').hide();
                        
                        clearPasswordModal();
                    }
                });
                
                createVariablesSelection($('#user_auth'), managerAuths, "<%=t('select')%>");
                createVariablesSelection($('#use_yn'), useYn, "<%=t('select')%>");
            });
        </script>
    </head>
    <body>
        <form class="contract-customer-status-form">
            <div class="contents">
                <div class="contents-item">
                    <div class="title"><%=t('search conditions')%></div>
                    <div class="search-contents">
                        <div class="align-container">
                            <span>
                                <div class="search-title">
                                    <div class="align-container">
                                        <span><img src="/public/images/icon/title.png"/></span>
                                        <span><%=t('client company')%></span>
                                    </div>
                                </div>
                                <div class="align-container">
                                    <select id="s_company_no" style="height:40px; width:240px;">
                                        <option value=""><%=t('select')%></option>
                                    </select>
                                </div>
                            </span>&nbsp;&nbsp;&nbsp;
                            <span>
                                <div class="search-title">
                                    <div class="align-container">
                                        <span><img src="/public/images/icon/title.png"/></span>
                                        <span><%=t('contract number')%></span>
                                    </div>
                                </div>
                                <div class="align-container">
                                    <select id="s_contract_no" style="height:40px; width:320px;">
                                        <option value=""><%=t('select')%></option>
                                    </select>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="contents-item">
                    <div class="title"><%=t('list of administrator')%></div>
                    <div class="top-right-button">
                        <div class="align-container">
                            <span><input type="button" id="add" value="<%=t('regist')%>"/></span>
                            <span><input type="button" id="modify" value="<%=t('modify')%>"/></span>
                            <span><input type="button" id="delete" value="<%=t('delete')%>"/></span>
                        </div>
                    </div>
                    <table class="status-table">
                        <thead class="status-thead">
                            <tr>
                                <th width="100px"><%=t('sequential number')%></th>
                                <th width="260px"><%=t('administrator name')%></th>
                                <th width="260px"><%=t('email')%></th>
                                <th width="120px"><%=t('permission')%></th>
                                <th width="120px"><%=t('use status')%></th>
                            </tr>
                        </thead>
                    </table>
                    <div class="scrollable-tbody" style="max-height: 500px;">
                        <table id="contract_manager" class="status-table">
                            <tbody class="status-tbody">
                                <tr class="hidden">
                                    <td width="100px" id="cell_seq" style="text-align: center;"></td>
                                    <td width="260px" id="cell_name" style="text-align: left;"></td>
                                    <td width="260px" id="cell_email" style="text-align: left;"></td>
                                    <td width="120px" id="cell_user_auth" style="text-align: center;"></td>
                                    <td width="120px" id="cell_use_yn" style="text-align: center;"></td>
                                </tr>
                                <tr>
                                    <td colspan="5"><%=t('message(search data)')%></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
        <div class="modal">
            <div class="modal-contents" style="width:580px">
                <div class="contents-container">
                    <span id="close" class="modal-close">&times;</span>
                    <div class="modal-title"><%=t('administrator')%></div>
                    <div>
                        <table class="modal-table">
                            <thead class="modal-thead">
                                <tr>
                                    <th class="right-align" style="width: 160px;">*<%=t('contract number')%></th>
                                    <td class="left-align" style="width: 420px;">
                                        <input type="text" id="contract_no" style="width: 200px;" readonly/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('sequential number')%></th>
                                    <td class="left-align">
                                        <input type="text" id="seq" style="width: 120px;" readonly/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('administrator name')%></th>
                                    <td class="left-align">
                                        <input type="text" id="name" style="width: 160px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('userid')%></th>
                                    <td class="left-align">
                                        <input type="text" id="user_id" style="width: 120px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('email')%></th>
                                    <td class="left-align">
                                        <div class="align-container">
                                            <span><input type="text" id="user_id_copy" style="width: 120px;" readonly/></span>
                                            <span class="">@</span>
                                            <span><input type="text" id="domain_addr" style="width: 160px;" readonly/></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('password')%></th>
                                    <td class="left-align">
                                        <input type="password" id="pwd" style="width: 160px;"/>
                                        <input type="button" id="change_password" class="change_password" value="<%=t('change password')%>"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('password check')%></th>
                                    <td class="left-align">
                                        <input type="password" id="check_pwd" style="width: 160px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('permission')%></th>
                                    <td class="left-align">
                                        <select id="user_auth"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('use status')%></th>
                                    <td class="left-align">
                                        <select id="use_yn"></select>
                                    </td>
                                </tr>
                            </thead>
                        </table></br>
                    </div></br>
                    <div class="bottom-button">
                        <div class="align-container">
                            <span><input type="button" id="save" value="<%=t('save')%>"/></span>
                            <span><input type="button" id="cancel" value="<%=t('cancel')%>"/></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="password_modal">
            <div class="modal-contents" style="width:320px">
                <div class="contents-container">
                    <span id="password_close" class="modal-close">&times;</span>
                    <div class="modal-title"><%=t('change password')%></div>
                    <div>
                        <table class="modal-table">
                            <thead class="modal-thead">
                                <tr>
                                    <th class="right-align" style="width: 120px;">*<%=t('password')%></th>
                                    <td class="left-align">
                                        <input type="password" id="new_pwd" style="width: 180px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="right-align">*<%=t('password check')%></th>
                                    <td class="left-align">
                                        <input type="password" id="check_new_pwd" style="width: 180px;"/>
                                    </td>
                                </tr>
                            </thead>
                        </table></br>
                    </div></br>
                    <div class="bottom-button">
                        <div class="align-container">
                            <span><input type="button" id="password_save" value="<%=t('save')%>"/></span>
                            <span><input type="button" id="password_cancel" value="<%=t('cancel')%>"/></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
